<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable" align-title="center">
     
         <ion-nav-back-button class="button button-icon button-clear back_arr" ng-click="myGoBack()" >
             <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        

      <ion-nav-buttons side="left">
        <button  style="display:block"  class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
      </ion-nav-buttons>
    </ion-nav-bar>
      
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable menu_head">
     <div class="row">
      <div class="col col-25">
       <div class="img_pro">
         <img src="img/logo2.png"/>
       </div>
      </div>
      <div class="col">
       <h3>{{vm.Name}}</h3>
       <p ng-click="goto('/login')">{{ 'SIGNOUTIN' | translate }}  </p>
      </div>
     </div>
     
    </ion-header-bar>
    <ion-content class="doc_menu">
      <ion-list>
         <!--<ion-item menu-close class="item-icon-left spec_item" href="#/app/news">
          <i class="icon ion-bookmark"></i>
        Today
        </ion-item>-->
         <ion-item menu-close class="item-icon-left spec_item" href="#/app/tabs/main">
          <i class="icon ion-home"></i>
         {{ 'Home' | translate }} 
        </ion-item>


        <ion-item menu-close class="item-icon-left spec_item" href="#/app/tabs/notifies">
          <i class="icon ion-android-notifications"></i>
         {{ 'Notification' | translate }} 
         <span ng-style= "vm.Count === 0 ? {'visibility':'hidden'} : {'visibility':'visible'}"  class="badge badge-assertive">{{vm.Count}}</span>
        </ion-item>

        <!-- ui-sref="app.tabs.AddItem" -->
        <ion-item menu-close class="item-icon-left spec_item" href="#"  ng-click="vm.navigateAdd()">
          <i class="icon ion-ios-plus"></i>
         <!-- {{ 'AddAds' | translate }}  -->
         {{ (vm.IsRegister === 0 ? 'Request': 'AddAds' )  | translate  }} 
        </ion-item>
        <!-- href="#/app/tabs/myAds/1/1" -->
         <ion-item menu-close class="item-icon-left spec_item" href="#" ng-click="vm.navigateMyadd()" > 
          <i class="icon ion-star"></i>
          {{ (vm.IsRegister === 0 ? 'MyReq': 'MyAds' )  | translate  }}   
        </ion-item>
        
          <ion-item menu-close class="item-icon-left spec_item" href="#/app/aboutus">
          <i class="icon  ion-ios-people-outline"></i>
         {{ 'AboutUs' | translate }} 
        </ion-item>
       

          <ion-item menu-close class="item-icon-left spec_item" href="#/app/term">
          <i class="icon ion-android-alert"></i>
         {{ 'Term' | translate }} 
        </ion-item>

          <ion-item menu-close class="item-icon-left spec_item" href="#/home">
          <i class="icon ion-gear-a"></i>
         {{ 'Settings' | translate }} 
        </ion-item>
         
            <ion-item menu-close class="item-icon-left spec_item" href="#" ng-click="vm.Tour()">
          <i class="icon ion-help-circled"></i>
         {{ 'Help' | translate }} 
        </ion-item>

  <!--<ion-item menu-close class="item-icon-left spec_item" href="#/app/slider">
          <i class="icon ion-help-circled"></i>
         {{ 'Help' | translate }} 
        </ion-item>-->

         
      
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
