<ion-view view-title="AddItem">
    
 
     
       
    <ion-content class="AddItem_Page">
        <form name="myForm"  novalidate >
             <div class="padding">
        <button class="button button-block button-positive icon-left ion-camera" ng-click="takePhoto()">
            Camera
            </button>

              <button class="button button-block button-positive icon-left ion-images" ng-click="selImages()">
            Import From 
            </button>
       </div>

         <div id="container_main"></div>
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-pricetags">
                        
                        </div>
                      <select ng-model="selectedService"  name="selectedService" id="selectedService"   required>
                        <option value="" disabled selected hidden>{{ 'ChoiseService' | translate }} </option> 
                          <option value="1"  >{{ 'ServiceSale' | translate }}</option>
                             <option value="2"  >{{ 'ServiceRent' | translate }}</option>
                                <option value="3"  >{{ 'ServiceBarter' | translate }}</option>
                                   <option value="4"  >{{ 'ServiceRequest' | translate }}</option>
                 </select>               
                            
            </label>

           <label class="item item-input item-select">
                <div class="input-label icon ion-android-globe">
                 
                </div>
                 <select ng-model="selectedcountry" ng-change="change(selectedcountry)" name="selectedcountry" id="selectedcountry"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option> 
                        <option ng-repeat="x in vm.entries"  value="{{x.Country_ID}}">{{x.Country_Ar}}</option>
                 </select>    
            </label>
            <label class="item item-input item-select">
                <div class="input-label icon ion-android-locate">
                 
                </div>
                <select ng-model="selectedCity" ng-change="changeCity(selectedCity)" name="selectedCity" id="selectedCity"    required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCity' | translate }} </option> 
                        <option ng-repeat="x in vm.City"  value="{{x.City_ID}}">{{x.City_Ar}}</option>
                 </select>    
            </label>

                 <label class="item item-input item-select">
                <div class="input-label icon ion-android-locate">
                 
                </div>
                <select ng-model="vm.kordy" ng-options="x.Country_ID as x.Country_Ar for x in vm.entries" >
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option>   
                       
                 </select>    
            </label>
            <label class="item item-input item-select">

                        <div class="input-label icon ion-compass">
                        
                        </div>
                      <select ng-model="selectedRegion"  name="selectedRegion" id="selectedRegion"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseRegion' | translate }} </option> 
                        <option ng-repeat="x in vm.Region"  value="{{x.Region_ID}}">{{x.Region_Ar}}</option>
                 </select>               
                            
            </label>  
            
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-home">
                        
                        </div>
                      <select ng-model="selectedType" ng-change="changeType(selectedType)"  name="selectedType" id="selectedType"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseType' | translate }} </option> 
                        <option ng-repeat="x in vm.Types"  value="{{x.Type_ID}}">{{x.Title_Ar}}</option>
                 </select>               
                            
            </label> 

              <ion-item ng-repeat="x in vm.Feature"   >
                 

                     <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-information-outline">
                        
                        </div>
                                <select ng-model="selectedFeature" ng-change="changeFeature(selectedFeature)"  name="selectedFeature" id="selectedFeature"   >
                                        <option value="" disabled selected hidden>{{ x.Text }}  </option> 
                                    <option ng-repeat="y in x.Value" id="{{x.Ucs_Id}}"  value="{{ x.Ucs_Id + ';' +y.Val}}">{{y.ValText}}</option>
                                </select>               
                                        
                      </label> 

                 
                </ion-item>
        

      
      <label class="item item-input">
        <i class="input-label icon ion-iphone  "></i>
        <input type="tel" pattern="[0-9]*" placeholder="{{ 'PHNumber' | translate }}" name="PHNumber" id="PHNumber" ng-model="PHNumber"  required>
        </label>

        <label class="item item-input">
        <i class="input-label icon ion-social-usd-outline   "></i>
        <input type="number" pattern="[0-9]*" placeholder="{{ 'PHprice' | translate }}" name="PHprice" id="PHprice"   ng-model="PHprice" required>
        </label>

         <label class="item item-input">
        <i class="input-label icon ion-map  "></i>
        <input type="number"  pattern="[0-9]*" placeholder="{{ 'PHArea' | translate }}" name="PHArea" id="PHArea"  ng-model="PHArea"  required>
        </label>
        

       
      <label class="item item-input">
        <input type="text" placeholder="{{ 'AdsTitle' | translate }}"  name="AdsTitle" id="AdsTitle"  ng-model="AdsTitle"  required>
      </label>

       <label class="item item-input">
        <textarea class="padding" rows="7" placeholder="{{ 'AdsContent' | translate }}"  name="AdsContent" id="AdsContent" ng-model="AdsContent"  required></textarea>
      </label> 
      

        <div class="padding RightDirection" style="color:red ">
         
               <p ng-show="myForm.selectedcountry.$error.required">{{ 'ReqCountry' | translate }}</p>
                <p ng-show="myForm.selectedCity.$error.required">{{ 'ReqCity' | translate }}</p>
                <p ng-show="myForm.selectedRegion.$error.required">{{ 'ReqRegion' | translate }}</p>
                 <p ng-show="myForm.selectedService.$error.required">{{ 'ReqService' | translate }}</p>  
                 <p ng-show="myForm.selectedType.$error.required">{{ 'ReqType' | translate }}</p>
                 <p ng-show="myForm.PHNumber.$error.required">{{ 'ReqNumber' | translate }}</p>
                  <p ng-show="myForm.PHprice.$error.required">{{ 'Reqprice' | translate }}</p>
                 <p ng-show="myForm.AdsTitle.$error.required">{{ 'ReqAdsTitle' | translate }}</p>
                 <p ng-show="myForm.AdsContent.$error.required">{{ 'ReqAdsContent' | translate }}</p>
                <p ng-show="myForm.PHArea.$error.required">{{ 'ReqArea' | translate }}</p>
        </div>
       
       <div class="padding">
            <button type="button" class="button button-block button-dark" ng-disabled="myForm.$invalid" 
            ng-click="submit(selectedService,selectedcountry,selectedType,selectedCity,selectedRegion,PHNumber,PHprice,PHArea,AdsTitle,AdsContent)">Submit</button>
        </div>
    </form>
    </ion-content>
</ion-view  >