<ion-view view-title="Contacts">
  <ion-content class="contact_us">
  <form class="animated slideInUp">
    <h3>Allways get in touch</h3>
    <p>
    Always stay connected to your connection with one
    of our staff to answer all inquiries...
    </p>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Your e-mail here">
      </label>
       <label class="item item-input">
        <input type="text" placeholder="Reaxone of message">
      </label>
      <label class="item item-input">
        <textarea rows="7" placeholder="Write message"></textarea>
      </label> 
    </div>
      <a  href="#" class="button button-full button-positive contact_btn">
      SEND
      </a>
    
  </form>
  </ion-content>
</ion-view  >