<ion-view view-title="Document details">      
    <div class="bar bar-subheader new_head">
      <div class="row">
         <div class="col"  ng-click="active_icon('fav')" ng-class="{'animated zoomIn color_btn':coloractive_fav}">
           <i class="ion-heart"></i>
         </div>
         <div class="col" ng-click="active_icon('mark')" ng-class="{'animated zoomIn color_btn':coloractive_mark}">
           <i class="ion-bookmark"></i>
         </div>
         <div class="col" ng-click="active_icon('font')" ng-class="{'animated zoomIn color_btn':coloractive_font}">
           <p>Aa</p>
         </div>
         <div class="col"  ng-click="active_icon('share')" ng-class="{'animated zoomIn color_btn':coloractive_share}">
           <i class="ion-android-share-alt"></i>
         </div>
        </div>
    </div>  
         
  <ion-content class="detail_page has-subheader">
   <div class="det_img">
    <img src="img/001.png"/>
   </div>
    <div class="det_header">
        <h3>FEATURED<span>Associated press</span></h3>
        <p>14 powerful photos that will change how you think about the world today </p>
        <span class="by">By Sophie Eastaugh, for life news</span>
        <span class="last_update">Updated 1459 GMT (2159 HKT) October 19, 2015 </span>
    </div> 
    <div class="det_content">
        <p>
        The world's leaders meet Friday at the United Nations Global Assembly 
        in New York to sign the Sustainable Development Goals,
        an ambitious set of 15-year targets for tackling global poverty, inequality and injustice.
        </p>
        
        <p>
        World-famous photographers from countries including Nigeria,
        South Africa and Brazil have captured startling images of inequality -- to support 
        </p>
        
        <p class="note">
         Go through the gallery to see the images and read what the photographers told Action 2015
         about what equality means to them and the power of imagery to inspire action.
        </p>
        
        <p>
        Listen to esteemed Nigerian photographer George 
        Osodi explain his photo essay "Trading Places," representing the inequality of his beloved Lagos.
        </p>
        <div class="social_media row">
          <div class="col">
            <span class="social_cir">
              <i class="ion-email"></i>
            </span>
          </div>
           <div class="col">
            <span class="social_cir">
              <i class="ion-social-facebook"></i>
            </span>
          </div>
           <div class="col">
            <span class="social_cir">
              <i class="ion-social-twitter"></i>
            </span>
          </div>
           <div class="col">
            <span class="social_cir">
              <i class="ion-more"></i>
            </span>
          </div>
        </div>
    </div>
  </ion-content>
