<ion-view view-title="login">
  <ion-content class="login_page">
    <form class="log_form">
    <div class="logo">
       <img src="img/logo3.png"/>
    </div>
     
      <br>
     
      
     <div class="row responsive-sm">
          <div class="slider_home">
            <ion-slide-box auto-play="false" class="slider_lang" show-pager="false" >
              <ion-slide>
                <div class="row ">
                 
                <div class="col col-25"> 
                  
                       <button class="button button-icon" ng-click="ChangeLanguageSlide('en')">
                          <img src="img/prev.png"/>
                        </button>
                </div>
               <div class="col col-50"> 
                 
                       <div class="lang_img">
                            <img src="img/AR-ICON.png"/>               
                        </div>
                </div>
                <div class="col col-25"> 
                   
                        <button  class="button button-icon prev_btn"  >
                          <img src="img/nxt.png"/>
                        </button>
                </div>
                </div>
         
          </ion-slide>
          <ion-slide>
            
               <div class="row ">
                 
                <div class="col col-25"> 
                  
                       <button class="button button-icon" ng-click="ChangeLanguageSlide('ar')">
                          <img src="img/prev.png"/>
                        </button>
                </div>
               <div class="col col-50"> 
                 
                       <div class="lang_img">
                            <img src="img/001.png"/>               
                        </div>
                </div>
                <div class="col col-25"> 
                   
                        <button  class="button button-icon prev_btn"  ng-click="ChangeLanguageSlide('ar')">
                          <img src="img/nxt.png"/>
                        </button>
                </div>
                </div>
             
            
          </ion-slide>
             </ion-slide-box>
           </div>
       </div>
     <div class="row">
         <div class="col col-25"> 
                  
                       <button class="button button-icon" ng-click="ChangeLanguageSlide('ar')">
                          <img src="img/prev.png"/>
                        </button>
          </div>
          <div class="col col-50"> 
                <div class="slider_home2">
                  <ion-slide-box auto-play="false" class="slider_lang2" on-slide-changed="slideHasChanged($index)">
                      <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/AR-ICON.png"/>               
                            </div>
                        </ion-slide>
                        <ion-slide>          
                            <div class="lang_img">
                                  <img src="img/001.png"/>               
                              </div>               
                        </ion-slide>
                  </ion-slide-box>
                </div>
          </div>
            <div class="col col-25"> 
                    
                          <button  class="button button-icon prev_btn"  ng-click="ChangeLanguageSlide('en')">
                            <img src="img/nxt.png"/>
                          </button>
           </div>
       </div>
       
 
    <div class="row">
     <div class="col">
        
     </div>
      <div class="col">
       
     </div>
    </div>
     <a href="#/app/news" class="button button-block button-clear  log_btn">
      {{ 'Continue' | translate }} 
     </a>
  
    </form>
  </ion-content>
</ion-view>  
