<ion-view view-title="Today">
  <ion-content class="news_list">
    <a href="#/app/detail" class="list_docum"
       collection-repeat="item in list"
       collection-item-width="'100%'"
       collection-item-height="110"> 
      
      <div class="row">
        <div class="col col-33">
         <img src="{{item.img}}"/>
        </div>
        <div class="col">
         <p>14 powerful photos that will change how you think about the world today </p>
         <span>By Sophie Eastaugh, for life news</span>
        </div>
      </div>
     
    </a>
  </ion-content>
</ion-view  >