<ion-view view-title="login">
  <ion-content class="login_page">
    <form class="log_form">
    <div class="logo">
       <img src="img/logo3.png"/>
    </div>
      <div class="list list-inset">
        <label class="item item-input">
        <i class="icon ion-person  placeholder-icon"></i>
        <input type="text" placeholder="{{ 'Username' | translate }}">
        </label>
        <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="********">
        </label>
    </div>
    <a href="#/app/news" class="button button-block button-positive log_btn">
     {{ 'Login' | translate }}
    </a>
    <div class="row">
     <div class="col">
        <a href="#" ng-click="forget_password()"  class="button button-block button-positive forget_btn">
           {{ 'FORGET PASSWORD' | translate }} 
        </a>
     </div>
      <div class="col">
        <a href="#/register" class="button button-block button-positive new_acc">
         {{ 'NEW ACCOUNT' | translate }} 
        </a>
     </div>
    </div>
     <a href="#/app/news" class="button button-block button-clear skip_btn">
      {{ 'Skip' | translate }} 
     </a>
    </form>
  </ion-content>
</ion-view>  
