<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
     
         <ion-nav-back-button class="button button-icon button-clear back_arr" ng-click="myGoBack()" >
             <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        

      <ion-nav-buttons side="left">
        <button  style="display:block"  class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
      </ion-nav-buttons>
    </ion-nav-bar>
      
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable menu_head">
     <div class="row">
      <div class="col col-25">
       <div class="img_pro">
         <img src="img/profile.png"/>
       </div>
      </div>
      <div class="col">
       <h3>Jorge Mendes</h3>
       <p ng-click="goto('/login')">SIGN OUT</p>
      </div>
     </div>
     
    </ion-header-bar>
    <ion-content class="doc_menu">
      <ion-list>
         <ion-item menu-close class="item-icon-left spec_item" href="#/app/news">
          <i class="icon ion-bookmark"></i>
        Today
        </ion-item>
         <ion-item menu-close class="item-icon-left spec_item" href="#/app/contact">
          <i class="icon ion-email"></i>
         Contact
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/news">
          <img class="icon" src="img/m1.png"/>
          NEWS
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m2.png"/>
          SPORT
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m3.png"/>
          MEDICAL
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m4.png"/>
          FASHION
        </ion-item>
         <ion-item menu-close class="item-icon-left"  href="#/app/list">
          <img class="icon" src="img/m5.png"/>
          EDUCATION
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m6.png"/>
          FOOD
          <div class="badge">
          <span>new</span>(2)
          </div>
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m7.png"/>
          TOURISM
        </ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m8.png"/>
          KIDS
        </ion-item>
         <ion-item menu-close class="item-icon-left" href="#/app/list">
          <img class="icon" src="img/m9.png"/>
          TECHNICAL
        </ion-item>
         
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
