<ion-view view-title="Today">
  <ion-content class="news_list">
  
       <div class="slider_home">
          <ion-slide-box auto-play="true" class="slider_lang">
        <ion-slide>
             <button  class="button button-icon prev_btn"  ng-click="nextSlide()">
              <img src="img/nxt.png"/>
             </button>
            <div class="news_img">
                <img src="img/det.png"/>
                    <div class="det_header">
                        <h3>FEATURED<span>Associated press</span></h3>
                        <p>There are nine million died in war </p>
                    </div>  
            </div>
        </ion-slide>
        <ion-slide>
             <button  class="button button-icon prev_btn"  ng-click="nextSlide()">
              <img src="img/nxt.png"/>
             </button>
              <button class="button button-icon" ng-click="previousSlide()">
              <img src="img/prev.png"/>
              </button>
             <div class="news_img">
                <img src="img/001.png"/>
                    <div class="det_header">
                        <h3>FEATURED<span>Associated press</span></h3>
                        <p>There are nine million died in war </p>
                    </div>  
            </div>
           
        </ion-slide>
        <ion-slide>
         <button class="button button-icon" ng-click="previousSlide()">
            <img src="img/prev.png"/>
            </button>
             <div class="news_img">
                <img src="img/det.png"/>
                    <div class="det_header">
                        <h3>FEATURED<span>Associated press</span></h3>
                        <p>There are nine million died in war </p>
                    </div>  
            </div>
           
        </ion-slide>
     </ion-slide-box>
    </div>
  
     
    <a href="#/app/detail"  
        
        > 
      
      <div class="row">
       
       
         
        
         <img src= "img/{{ 'project' | translate }}" class="home-list" >
        
      </div>
     
    </a>
    
     <a href="#/app/detail"  
        
       collection-item-width="'100%'"
      collection-item-height="60px"> 
      
      <div class="row">
       
        
         
        
         <img src= "img/{{ 'sale' | translate }}" class="home-list" >
      
      </div>
     
    </a>
    
    <a href="#/app/detail"   > 
        
      
      
      <div class="row">
       
       
         
        
         <img src= "img/{{ 'rent' | translate }}" class="home-list" >
       
      </div>
     
    </a>
    
    <a href="#/app/detail"  
        
       collection-item-width="'100%'"
       collection-item-height="80px"> 
      
      <div class="row">
       
      
         
        
         <img src= "img/{{ 'reqest' | translate }}" class="home-list" >
        
      </div>
     
    </a>
    
    
    <a href="#/app/detail"  
        
       collection-item-width="'100%'"
       collection-item-height="80px"> 
      
      <div class="row">
       
        
         
        
         <img src= "img/{{ 'barter' | translate }}" class="home-list" >
         
      </div>
     
    </a>
  </ion-content>
</ion-view  >