<ion-view view-title="login">
  <ion-content class="register_page padding">
  <div class="logo">
   <img src="img/logo.png"/>
  </div>
    <form class="log_form" name="log_form"  novalidate>    
      <div class="list list-inset">
        <label class="item item-input">
        <i class="icon ion-person  placeholder-icon"></i>
        <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="********">
        </label>
        <label class="item item-input">
        <i class="icon ion-at  placeholder-icon"></i>
        <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
        <i class="icon ion-iphone placeholder-icon"></i>
        <input type="number" placeholder="Mobile">
        </label>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/app/news" class="button button-block button-positive log_btn" ng-disabled="myForm.$invalid" >
        REGISTER
        </a>
      </div>
       <div class="col">
        <a href="#/login" class="button button-block button-positive back_btn">
        BACK
        </a>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>  
