<ion-modal-view class="search">
    <ion-content class="ser_input">
    <label class="item item-input">
        <input type="text" placeholder="Search your windo.....">
        <button class="button button-icon button-clear" ng-click="opensearch_modal()">
        <i class="ion-ios-search-strong"></i>
        </button>
    </label>
    </ion-content>
  </ion-modal-view>