<ion-view  cache-view="false"  hide-back-button="true">
    
 <ion-nav-title>
		 {{ 'AddBo3qar' | translate }}
	</ion-nav-title>
     
       
    <ion-content class="AddBo3qar_Page">
        <form name="myForm"  novalidate >
            
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-pricetags">
                        
                        </div>
                      <select ng-model="selectedService"  name="selectedService" id="selectedService"  ng-change="changeService(selectedcountry,selectedService)"  required>
                        <option value="" disabled selected hidden>{{ 'ChoiseService' | translate }} </option> 
                          <option value="1"  >{{ 'ServiceSale' | translate }}</option>
                             <option value="2"  >{{ 'ServiceRent' | translate }}</option>
                               <option value="3"  >{{ 'ServiceBarter' | translate }}</option>
                                   <!--  <option value="4"  >{{ 'ServiceRequest' | translate }}</option> -->
                 </select>               
                            
            </label>

           <label class="item item-input item-select">
                <div class="input-label icon ion-android-globe">
                 
                </div>
                 <select ng-model="selectedcountry" ng-options="x.Country_ID as x.Country_Ar for x in vm.entries" ng-change="change(selectedcountry,selectedService)" name="selectedcountry" id="selectedcountry"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.entries"  value="{{x.Country_ID}}">{{x.Country_Ar}}</option>-->
                 </select>    
            </label>
            <label class="item item-input item-select">
                <div class="input-label icon ion-android-locate">
                 
                </div>
                <select ng-model="selectedCity" ng-options="x.City_ID as x.City_Ar for x in vm.City"  ng-change="changeCity(selectedCity)" name="selectedCity" id="selectedCity"    required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCity' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.City"  value="{{x.City_ID}}">{{x.City_Ar}}</option>-->
                 </select>    
            </label>

               
            <label class="item item-input item-select">

                        <div class="input-label icon ion-compass">
                        
                        </div>
                      <select ng-model="selectedRegion" ng-options="x.Region_ID as x.Region_Ar for x in vm.Region" name="selectedRegion" id="selectedRegion"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseRegion' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.Region"  value="{{x.Region_ID}}">{{x.Region_Ar}}</option>-->
                 </select>               
                            
            </label>  
            
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-home">
                        
                        </div>
                      <select ng-model="selectedType" ng-options="x.Type_ID as x.Title_Ar for x in vm.Types" ng-change="changeType(selectedType)"  name="selectedType" id="selectedType"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseType' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.Types"  value="{{x.Type_ID}}">{{x.Title_Ar}}</option>-->
                 </select>               
                            
            </label> 

           

              <ion-item ng-repeat="x in vm.Feature"   >
                 

                     <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-information-outline">
                        
                        </div>
                                <select ng-model="selectedFeature" ng-change="changeFeature(selectedFeature)"  name="selectedFeature" id="selectedFeature"   >
                                        <option value="" disabled selected hidden>{{ x.Text }}  </option> 
                                    <option ng-repeat="y in x.Value" id="{{x.Ucs_Id}}"  value="{{ x.Ucs_Id + ';' +y.Val}}">{{y.ValText}}</option>
                                </select>               
                                        
                      </label> 

                 
                </ion-item>
        
                <ion-row ng-if='vm.validAd'>
                    <div class="broker-ad-col">
                      <a href="#" ng-click="open_link(vm.brokerLink)">
                        <img width="100%" src="{{vm.brokerAd}}" class="broker-ad" />
                      </a>
                    </div>
                  </ion-row>
  

        <div class="padding RightDirection" style="color:red ">
         
               <p ng-show="myForm.selectedcountry.$error.required">{{ 'ReqCountry' | translate }}</p>
                <p ng-show="myForm.selectedCity.$error.required">{{ 'ReqCity' | translate }}</p>
                <p ng-show="myForm.selectedRegion.$error.required">{{ 'ReqRegion' | translate }}</p>
                 <p ng-show="myForm.selectedService.$error.required">{{ 'ReqService' | translate }}</p>  
                 <p ng-show="myForm.selectedType.$error.required">{{ 'ReqType' | translate }}</p>
                 <p ng-show="myForm.PHNumber.$error.required">{{ 'ReqNumber' | translate }}</p>
                    <p ng-show="myForm.PHNumber.$error.pattern">{{ 'ReqNumberPattern' | translate }}</p> 
                    
                  <p ng-show="myForm.PHprice.$error.required">{{ 'Reqprice' | translate }}</p>
                   <p ng-show="myForm.PHprice.$error.pattern">{{ 'ReqNumberPatternPH' | translate }}</p>  
                 <p ng-show="myForm.AdsTitle.$error.required">{{ 'ReqAdsTitle' | translate }}</p>
                 <p ng-show="myForm.AdsContent.$error.required">{{ 'ReqAdsContent' | translate }}</p>
                <p ng-show="myForm.PHArea.$error.required">{{ 'ReqArea' | translate }}</p>   
                  <p ng-show="myForm.NumCode.$error.required">{{ 'NumCodeReq' | translate }}</p> 
                  
                      <p ng-show="myForm.PHArea.$error.pattern">{{ 'ReqNumberPatternPA' | translate }}</p>   
        </div>

         <!-- <div class="padding RightDirection" style="color:red ">
           {{vm.DayCalculator}}
         </div> -->
       
       <div class="padding">
            <button type="button" class="button button-block button-dark" ng-disabled="myForm.$invalid" 
            ng-click="submit(selectedService,selectedcountry,selectedType,selectedCity,selectedRegion)">{{ 'SubmitBo3qar' | translate }}</button>
        </div>
    </form>
    </ion-content>
</ion-view  >