
<ion-view  cache-view="false"  view-title="{{vm.article[0].Title | limitTo: 25 }}{{vm.article[0].Title.length > 25 ? '...' : ''}}" >
	<ion-content>
		
		      <div class="slider_home">
          <ion-slide-box does-continue="true"  auto-play="true"  class="slider_lang" slide-interval="2000" >
        <ion-slide ng-repeat="picture in vm.article[0].Images" >
              
            <div class="news_img">
                <img src="{{picture}}"/>
                     <div class="det_header">
                        <!--<h3>KWTRG.com</h3>-->
                        <p>KWTRG.COM All RIGHTS RESERVED </p>
                    </div>  
            </div>
        </ion-slide>
     
     </ion-slide-box>
    </div>
	 
		<div class="list card">  
			
			<a class="Ditem Ditem-icon-right" >
				<i class="icon ion-pound"></i>
				 
				{{vm.article[0].Item_ID}}
			</a>
			
				<a class="Ditem Ditem-icon-right" >
				<i class="icon ion-android-globe"></i>
			    {{vm.article[0].Country}} 
			</a>
			
			 
			<a class="Ditem Ditem-icon-right" >
				<i class="icon ion-android-locate"></i>
				  {{vm.article[0].City}}  -  {{vm.article[0].Region}} 
			</a>
			
			
			
				<a class="Ditem Ditem-icon-right" >
				<i class="icon  ion-map  "></i>
				   <p class="RightDirection">     {{vm.article[0].Area}}  {{vm.article[0].Measure}}  </p>
			   </a>
			
				<a class="Ditem Ditem-icon-right" >
				<i class="icon  ion-cash "></i>
			   <p class="RightDirection"> {{vm.article[0].Price}}   {{vm.article[0].Currency}} </p>
			</a>
			
			<a class="Ditem Ditem-icon-right" >
				<i class="icon ion-android-person"></i>
				 {{vm.article[0].CompanyName}}  
			</a>
			
				<a class="Ditem Ditem-icon-right" >
				<i class="icon ion-ios-telephone-outline"></i>
			     
                 {{vm.article[0].Phone}} 
				 
			</a>

			 <a class="Ditem Ditem-icon-right" >
				<i class="icon ion-ios-clock-outline"></i>
				{{vm.article[0].CreatedDate}} 
			</a>

			<a class="Ditem Ditem-icon-right" ng-click="vm.toggleFavorites()">
				<span ng-if="!vm.property.isInFavorites">
					<i class="icon ion-ios-star-outline"></i>
					<span>Add to favorites</span>
				</span>
				<span ng-if="vm.property.isInFavorites">
					<i class="icon ion-ios-star balanced"></i>
					<span>Remove from favorites</span>
				</span>
			</a>
		</div>
		  <div class="list card RightDirection" ng-repeat="feature in vm.article[0].Feature">
					<a class="Ditem Ditem-icon-right" >
					<i class="icon ion-ios-information-outline"></i>
					{{feature.Title}} : {{feature.Value}}
				</a>
			    
		     
			
			</div>

         
<div class="card">
  <div class="item item-text-wrap textRight padding RightDirection">
	 {{vm.article[0].Title}}  
   <p>{{vm.article[0].Body}}  </p>
  </div>
</div>
         	
		 
		
		<br>
		<br> 
		<br>
	 
	</ion-content>
	 
	<fab-button-left target-id="content" href="tel:+1-1800-555-5555" >
    <i class="icon ion ion-android-call" style="vertical-align: middle;     padding: 17px; padding-right: 18px;"></i>
   
</fab-button-right>
</ion-view>

	
