

 
<ion-view class="properties">
	<ion-nav-title>
	  {{ 'MyAds' | translate }}
	</ion-nav-title>

	 <!--<ion-nav-buttons side="right">
		<button style="display:block"  class="button button-clear  button-icon ion-android-options" menu-toggle="right" ng-click="vm.showFilter()"></button>
	</ion-nav-buttons>
	 -->
 

	<ion-content ng-init="vm.search = ''">
		
		<ion-refresher  
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>
	
	<form ng-submit="vm.submitSearch()">
		<div class="item search-box row RightDirection">
			 
 
              <i class="icon ion-search placeholder-icon"></i>
			  
			  <angucomplete-alt id="members" style="padding-right: 7px; width:100%"   
              placeholder="{{vm.somePlaceholder}}"
              pause="500"
              selected-object="selectedCountry"
              remote-url="http://kwtrg.azurewebsites.net/api/KwtrgDB/GetResultMyAds?UserID={{vm.UserID}}&ServiceId={{vm.serviceID}}&TypeID={{vm.TypeId}}&CounrtyID={{vm.CountryID}}&term="
			   clear-selected="true"
              remote-url-data-field="Results"
              title-field="label"
		      minlength="4",
			  text-searching=" {{ 'Searching' | translate }}",
			  text-no-results=" {{ 'NoResults' | translate }}"
			 
              input-class="form-control form-control-small"
			   input-changed="inputChanged"
			  />
			 
	         	 	
		</div>
	</form>


		

		 
			
		  <meta name="format-detection" content="telephone=no"> 
		 <ion-list style="padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; margin: 0px;
    border: none; " class="item item-thumbnail-right item-text-wrap  " style="overflow: hidden;"
			ng-click="vm.navigate(article.Item_ID)"
			collection-repeat="article in vm.articles | filter: { title: vm.search } | orderBy: vm.sortBy" can-swipe="true">
			 <ion-item  style="  padding: 0px; margin: 0px; border: none;       border-bottom-color: #ddd;  border-bottom-style: solid;    border-bottom-width: 1px;">
			<img ng-src="https://drwazaq8.blob.core.windows.net/itemphotoscompressed/{{article.Item_ID}}/FirstPhoto.jpeg" alt="Image not found" onError="this.src='img/slider2.png';">
			 
			<h2 class="textRight RightDirection" >{{article.Title | limitTo: 35 }}{{article.Title.length > 35 ? '...' : ''}}   </h2>
			 
			<p class="textRight RightDirection" > {{article.Body | limitTo: 75 }}{{article.Body.length > 75 ? '...' : ''}}</p>
			<div class="distance">  {{article.Price}} {{article.Currency}}  <em class="ion ion-social-usd-outline" style="padding-right: 4px; padding-left: 2px;"></em>  {{article.City}} -  {{article.Region}}  <em class="ion ion-android-locate"></em>   </div>
			
				<ion-option-button class="button-energized "
                       ng-click="vm.EditAds(article.Item_ID)"> 
					 <a class="tab-item col col-center " style=" padding-top: 10px;   opacity: 1; color: #fff;">
						<i class="icon ion-gear-a"></i>
						 {{ 'Edit' | translate }}
					</a>
				</ion-option-button>
		
				<ion-option-button class="button-assertive  "
                       ng-click="vm.showConfirm(article.Item_ID)"> 
					    <a class="tab-item col col-center " style=" padding-top: 10px;   opacity: 1; color: #fff;">
						<i class="icon ion-ios-trash-outline"></i>
						 {{ 'Delete' | translate }}
					   </a>
				
				</ion-option-button>
					<ion-option-button class="button-positive  "
                       ng-click="vm.renew(article.Item_ID)"> 
					   <a class="tab-item col col-center " style=" padding-top: 10px; opacity: 1; color: #fff;">
						<i class="icon ion-refresh"></i>
				     	 {{ 'Renew' | translate }}
					   </a>
				
				</ion-option-button>
			
				 
			 </ion-item>	
		</ion-list> 
		 

	</ion-content>
</ion-view>
 
   <!-- <walkthrough
		    id="accounts_view_walkthrough2"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showAccountsWalkthrough" 
		    is-bind-click-event-to-body="true"
		    
		    is-round="false">
			 <img src="img/edite.png" alt="xx" onError="this.src='img/edite.png';" style="height: 100vh; width: 100%;">
		</walkthrough> -->