<ion-view>
  <ion-nav-title>
    {{ "GallaryDept" | translate }}
  </ion-nav-title>

  <ion-content>
    <div class="list">
      <div class="slider_home">
        <ion-slide-box
          class="slider_lang"
          ng-if="vm.statusad === true"
          delegate-handle="IOBOX"
        >
          <ion-slide
            ng-repeat="x in vm.slider | filter: {valid_ad: true} | orderBy: 'skip_time'"
          >
            <div class="news_img">
              <a href="#" ng-click="open_link(x.link)">
                <img
                  src="data:image/png;base64,{{ x.image }}"
                  style="width: 100%"
                />
              </a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>

      <div
        ng-repeat="e in vm.entries"
        ng-if="$index % 2==0"
        class="row animate-fade-slide-in-right"
      >
        <div class="card col home item" style="margin: 3px 3px; padding:16px;">
          <a
            class="item item-text-wrap"
            href="#/app/tabs/articles/{{ vm.entries[$index].Type_ID }}/{{
              vm.serviceId
            }}"
          >
            <h1><i class="icon {{ vm.entries[$index].Icon }}"></i></h1>
            <h2>{{ vm.entries[$index].Title_Ar }}</h2>
          </a>
        </div>

        <div
          ng-if="!$last"
          class="card col home item"
          style="margin: 3px 3px; padding:16px;"
        >
          <a
            class="item item-text-wrap"
            href="#/app/tabs/articles/{{ vm.entries[$index + 1].Type_ID }}/{{
              vm.serviceId
            }}"
          >
            <h1><i class="icon {{ vm.entries[$index + 1].Icon }}"></i></h1>
            <h2>{{ vm.entries[$index + 1].Title_Ar }}</h2>
          </a>
        </div>
      </div>
    </div>

    <!-- <walkthrough
		    id="accounts_view_walkthrough2"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showAccountsWalkthrough" 
		    is-bind-click-event-to-body="true"
		    on-walkthrough-hide="vm.nextAccountsWalkthrough()"
		    is-round="false">
			 <img src="{{ accountsWalkthrough2.steps[accountsWalkthrough2.currentIndex].text }}" alt="xx" onError="this.src='img/dep.png';" style="height: 100vh; width: 100%;">
		</walkthrough> -->
  </ion-content>
</ion-view>
