

 
<ion-view  cache-view="false" class="properties">
	<ion-nav-title>
		 {{ 'Ads' | translate }}
	</ion-nav-title>

	<ion-nav-buttons side="right">
		<button style="display:block"  class="button button-clear  button-icon ion-android-cancel" menu-toggle="right" ng-click="vm.deleteReq()"></button>
	</ion-nav-buttons>
	
 

	<ion-content ng-init="vm.search = ''">
		
		<ion-refresher  
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>
	<!-- <form ng-submit="vm.submitSearch()">
		<div class="item search-box row RightDirection">
			 
 
              <i class="icon ion-search placeholder-icon"></i>
			  
			  <angucomplete-alt id="members" style="padding-right: 7px; width:100%"   
              placeholder="{{vm.somePlaceholder}}"
              pause="500"
              selected-object="selectedCountry"
              remote-url="http://kwtrg.com/api/KwtrgDB/GetResult?ServiceId={{vm.serviceID}}&TypeID={{vm.TypeId}}&CounrtyID={{vm.CountryID}}&term="
			   clear-selected="true"
              remote-url-data-field="Results"
              title-field="label"
		      minlength="4",
			  text-searching=" {{ 'Searching' | translate }}",
			  text-no-results=" {{ 'NoResults' | translate }}"
			 
              input-class="form-control form-control-small"
			   input-changed="inputChanged"
			  />
			 
	         	 	
		</div>
	</form> -->
 
		
         <!-- <walkthrough
		    id="accounts_view_walkthrough"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showAccountsWalkthrough" 
		    is-bind-click-event-to-body="true"
		    on-walkthrough-hide="vm.nextAccountsWalkthrough()"
		    is-round="false">
			 <img src="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].text }}" alt="img/3.jpg" onError="this.src='img/3.jpg';" style="height: 100vh; width: 100%;">
		</walkthrough> -->
		 
		
		
		 <meta name="format-detection" content="telephone=no">
		 <div class="item item-thumbnail-right item-text-wrap " style="overflow: hidden;" 
			ng-click="vm.navigate(article.Item_ID)" 
			collection-repeat="article in vm.bo3qars ">
			
		
			  <!--<img ion-img-cache ng-src="https://drwazaq8.blob.core.windows.net/itemphotoscompressed/{{article.Item_ID}}/FirstPhoto.jpeg" ion-img-cache fallback-src="http://www.kwtrg.com/Users/GetUserImage?Userid={{article.CreatedBy}}" />-->
				  <img ion-img-cache  ng-src="https://drwazaq8.blob.core.windows.net/itemphotoscompressed/{{article.Item_ID}}/FirstPhoto.jpeg" alt="Image not found" onError="this.src='img/slider4.png';">
				  <span  style="right:60px;" ng-style= "article.IsOpen === 1 ? {'visibility':'hidden'} : {'visibility':'visible'}" class="badge badge-assertive">جديد</span>
			<h2 class="textRight RightDirection" >{{article.Title | limitTo: 35 }}{{article.Title.length > 35 ? '...' : ''}}   </h2>
			 
			<p class="textRight RightDirection" > {{article.Body | limitTo: 75 }}{{article.Body.length > 75 ? '...' : ''}}</p>
			<div class="distance">  {{article.Price}}-{{article.Currency}}  <em class="ion ion-social-usd-outline" style="padding-right: 4px; padding-left: 2px;"></em>  {{article.City}} -  {{article.Region}}  <em class="ion ion-android-locate"></em>   </div>
		</div> 
		<div ng-if="vm.bo3qars.length == 0" style="    text-align: center;" class="padding">
			{{ 'DataBo3qar' | translate }} 
		</div>
		 

	</ion-content>
</ion-view>
 