<ion-view view-title="login">
  <ion-content class="register_page padding">
 
   <form class="log_form" name="log_form"  novalidate>    
      <div class="list list-inset">
       

           <!-- Company Logo -->
            
             <label class="item item-input " ng-click="show(4000)">
                     <i class="icon ion-image placeholder-icon col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[0].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_0  ng-show="ShowPathy[0].value"   style="width:50%"    ng-src="{{ImagePathy[0].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_0" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_0" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[0].value"  class="col col-30" type="text" placeholder="{{ 'AddCompanyLogo' | translate }}" name="AddCompanyLogo" id="AddCompanyLogo" ng-model="AddCompanyLogo"  style="color:#fff;    background: #343434;" readonly >
           
         
		 
         </label>
         <!-- End Of Company Logo -->


           <!--  Real Estate License -->
            
             <label class="item item-input " ng-click="showRE(4000)">
                     <i class="icon ion-image placeholder-icon col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[1].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_1  ng-show="ShowPathy[1].value"   style="width:50%"    ng-src="{{ImagePathy[1].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_1" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_1" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input  class="col col-30" type="text" placeholder="{{ 'AddRELicense' | translate }}" name="AddRELicense" id="AddRELicense" ng-model="AddRELicense"  style="color:#fff;    background: #343434;" readonly>
           
         
		 
         </label>
         <!-- End Of Real Estate License -->

          
                   <!--  Commercial license License -->
            
             <label class="item item-input " ng-click="showCL(4000)">
                     <i class="icon ion-image placeholder-icon col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[2].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_2  ng-show="ShowPathy[2].value"   style="width:50%"    ng-src="{{ImagePathy[2].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_2" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_2" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[2].value"  class="col col-40" type="text" placeholder="{{ 'AddCL' | translate }}" name="AddCL" id="AddCL" ng-model="AddCL"  style="color:#fff;    background: #343434;" readonly>
           
         
		 
         </label>
         <!-- End Of Commercial license -->



                  <!--  Real CIVIL ID -->
            
             <label class="item item-input " ng-click="showCID(4000)">
                     <i class="icon ion-image placeholder-icon col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[3].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_3  ng-show="ShowPathy[3].value"   style="width:50%"    ng-src="{{ImagePathy[3].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_3" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_3" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[3].value"  class="col col-30" type="text" placeholder="{{ 'AddCID' | translate }}" name="AddCID" id="AddCID" ng-model="AddCID"  style="color:#fff;    background: #343434;" readonly>
           
         
		 
         </label>
         <!-- End Of Real Estate License -->


  
         <label class="item item-input item-select ">
                
                  <i class="icon ion-android-globe placeholder-icon"></i>
                 <select style="background: none; Color:#fff" ng-model="selectedcountry" ng-options="x.Country_ID as x.Country_Ar for x in vm.entries" ng-change="change(selectedcountry)" name="selectedcountry" id="selectedcountry"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.entries"  value="{{x.Country_ID}}">{{x.Country_Ar}}</option>-->
                 </select>    
            </label>
            <label class="item item-input item-select ">
                 
                  <i class="icon ion-android-locate placeholder-icon"></i>
                <select style="background: none; Color:#fff" ng-model="selectedCity" ng-options="x.City_ID as x.City_Ar for x in vm.City"  ng-change="changeCity(selectedCity)" name="selectedCity" id="selectedCity"    required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCity' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.City"  value="{{x.City_ID}}">{{x.City_Ar}}</option>-->
                 </select>    
            </label>

               
            <label class="item item-input item-select ">

                         
                            <i class="icon ion-compass placeholder-icon"></i>
                      <select  style="background: none; Color:#fff" ng-model="selectedRegion" ng-options="x.Region_ID as x.Region_Ar for x in vm.Region" name="selectedRegion" id="selectedRegion"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseRegion' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.Region"  value="{{x.Region_ID}}">{{x.Region_Ar}}</option>-->
                 </select>               
                            
            </label> 


                 <label class="item item-input ">
        <i class="icon ion-person  placeholder-icon"></i>
        <input type="text" placeholder="{{ 'FirstName' | translate }}" name="FirstName" id="FirstName" ng-model="FirstName"  style="color:#fff" required>
        </label>
       <label class="item item-input ">
        <i class="icon ion-person  placeholder-icon"></i>
        <input type="text" placeholder="{{ 'LastName' | translate }}" name="LastName" id="LastName" ng-model="LastName" style="color:#fff"  required>
        </label>

        
        <label class="item item-input ">
        <i class="icon ion-iphone placeholder-icon col col-10"></i>
        <select class="col col-25"  ng-model="NumCode" name="NumCode" id="NumCode" required>
          <option value="" disabled selected hidden>{{ 'NumCode' | translate }} </option> 
          <option value="+973">+973</option>
          <option value="+387">+387</option>   
          <option value="+20">+20</option>   
          <option value="+962">+962</option>   
          <option value="+965">+965</option> 
           <option value="+965">+966</option>     
          <option value="+968">+968</option>  
          <option value="+90">+90</option>   
          <option value="+971">+971</option>   
         </select>  
        <input  placeholder="{{ 'Mobile' | translate }}" type="tel"  name="Mobile" id="Mobile" ng-model="Mobile" style="color:#fff"  required pattern="[0-9]*">
        </label>

     <label class="item item-input ">
        <i class="icon ion-at  placeholder-icon"></i>
        <input type="email" placeholder="{{ 'Email' | translate }}" name="Email" id="Email" ng-model="Email"  style="color:#fff">
        </label>
     
        
        <label class="item item-input " >
        <i class="icon ion-locked placeholder-icon"></i>
        <input min="6" minlength="6"   type="password" placeholder="********" name="password" id="password" ng-model="password" style="color:#fff"  required pattern="^(?:([A-Z])*([a-z])*(\d)*){6,20}$">
        </label>   
       
             
        
          <div class="padding RightDirection" style="color:#fff ">
         
               <p ng-show="log_form.selectedcountry.$error.required">{{ 'ReqCountry' | translate }}</p>
                <p ng-show="log_form.selectedCity.$error.required">{{ 'ReqCity' | translate }}</p>
                <p ng-show="log_form.selectedRegion.$error.required">{{ 'ReqRegion' | translate }}</p>
                
                 <p ng-show="log_form.Mobile.$error.required">{{ 'ReqNumber' | translate }}</p>
                   <p ng-show="log_form.Mobile.$error.pattern">{{ 'ReqNumberPattern' | translate }}</p>  

                  <p ng-show="log_form.FirstName.$error.required">{{ 'ReqFirstName' | translate }}</p>
                 <p ng-show="log_form.LastName.$error.required">{{ 'ReqLastName' | translate }}</p>
                 <p ng-show="log_form.password.$error.required">{{ 'Reqpassword' | translate }}</p>
                  <p ng-show="log_form.password.$error.pattern">{{ 'ReqpasswordPolicy' | translate }}</p>
              
                  <p ng-show="log_form.NumCode.$error.required">{{ 'NumCodeReq' | translate }}</p>  
                 
                    <p ng-show="log_form.AddCompanyLogo.$error.required">{{ 'AddCompanyLogoReq' | translate }}</p>  
                    <p ng-show="log_form.AddCL.$error.required">{{ 'AddCLReq' | translate }}</p> 
                    <p ng-show="log_form.AddCID.$error.required">{{ 'AddCIDReq' | translate }}</p>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/login" class="button button-block button-positive log_btn">
        
        {{ 'BACK' | translate }}
        </a>
      </div>
       <div class="col">
       <button type="button" class="button button-block button-positive back_btn"  ng-disabled="log_form.$invalid" ng-click="submit(selectedcountry,selectedCity,selectedRegion,Mobile,FirstName,LastName,Email,NumCode,password)">
        {{ 'REGISTER' | translate }}
        </button>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>  
