<ion-view >
	<ion-nav-title>
	  {{ 'AboutUs' | translate }}
	</ion-nav-title>
    <ion-content>
        
        
      <div class="card">
		<div class="item item-divider padding ">
			KWTRG.com 
		</div>
		 <div class="padding" >
             
			  <div class="item item-body RightDirection">
							<img class="full-image" src="img/logo_ALL.png">
							<p>
							 {{ 'AboutUs1' | translate }} 
							 <h2 class="title"> {{ 'AboutUs2' | translate }} </h2>
							  {{ 'AboutUs3' | translate }} 
								<!--<h3>
								  <i class="icon ion-android-call padding"></i>
         {{ 'AboutUs4' | translate }} 
								</h3>-->
									<h3 ng-click="CallNumber()">
								  <i class="icon ion-android-call padding"></i>
									
         {{ 'AboutUs4-1' | translate }} 
								</h3>

									<!--<h3>
								  <i class="icon ion-email padding"></i>
         {{ 'AboutUs5' | translate }} 
								</h3>-->
								<a href="mailto:f.mumen@drwazaq8.com?subject=KWTRG%20Contact%20US">
										<h3 >
								  <i class="icon ion-email padding"></i>
								 
         {{ 'AboutUs5-1' | translate }} 
								</h3>
								</a>
							</p>
						 
						</div>

						</div>

		 </div>
		 
		<div class="item item-divider padding">
			All CopyRight Reserved @2016
		</div>
	</div>
         
    </ion-content>
</ion-view  >