<ion-view view-title=" {{ 'Terms&Condition' | translate }}">    
    <ion-content>
        
        
      <div class="card">
		<div class="item item-divider padding RightDirection">
		
		</div>
		 <div class="padding" ng-bind-html="snippet"></div>
		 
		<div class="item item-divider padding">
			All CopyRight Reserved @2016
		</div>
	</div>
         
    </ion-content>
</ion-view  >