<ion-tabs class="tabs-light tabs-icon-top">
    
     <ion-tab title=" {{ 'Settings' | translate }} " icon-on="  ion-gear-a" icon-off="ion-gear-a" ui-sref="home"  >
		<ion-nav-view name="tab-setting"></ion-nav-view>
	</ion-tab>
	
    
    <ion-tab  on-select="vm.navigate3()" title="  {{ (vm.IsRegister === 0 ? 'MyReq2': 'MyAds2' )  | translate  }}    " icon-on=" ion-star" icon-off="icon ion-star"  > 
		<ion-nav-view name="tab-Fav"></ion-nav-view>
	</ion-tab>
	<!-- ui-sref="app.tabs.myAds" -->
    
      <ion-tab on-select="vm.navigate2()" title=" {{ (vm.IsRegister === 0 ? 'Request': 'AddAds' )  | translate  }} " icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline"   > 
		<ion-nav-view name="tab-Ads"></ion-nav-view>
	</ion-tab>
	<!-- ui-sref="app.tabs.AddItem" -->
    
    <ion-tab title=" {{ 'Home' | translate }} " icon-on="ion-home" icon-off="ion-home" ui-sref="app.tabs.main"  ng-href="#/app/tabs/main" >
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	
   
   
 
   
  </a>
   
	 
</ion-tabs>


<script id="modal.html" type="text/ng-template">

	<div class="modal">

		<ion-content has-header="true" padding="true" class="modal-ad">

			<a href="#" ng-click="open_link(vm.adlink)">
				<img width="100%" src="{{vm.popupad}}" class="add-image" />
			</a>
			<a href="#" ng-click="close_add()" class="skip-ad">{{vm.skip_count}}</a>

		</ion-content>
	</div>
</script>