<ion-view >
 
    <ion-content>
        
        
      <div class="card" style="margin:0px">
     
         
              <div class="item item-body RightDirection">
                 <h2 class="title">
                   <div class="padding" ng-bind-html="snippet"></div>
                 </h2>
                   
                  
              </div>

            

		 </div>
		 
	 
	</div>
         
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark">
  <div class="buttons" ng-click="myGoBack()">
    <button class="button button button-clear button-light  " style="padding-left:8px;color:#ff7c00">{{ 'BACK' | translate }}</button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="doSomething()">
    <a  href="#/register" class="button button button-clear button-light " style="padding-right:8px;color:#fff">{{ 'Accept' | translate }}</a>
  </div>
</ion-footer-bar>
</ion-view  >