<ion-view view-title="login">
  <ion-content class="login_page">
    <form class="log_form">
    <div class="logo">
       <img src="img/logo3.png"/>
    </div>
      <div class="list list-inset">
        <label class="item item-input RightDirection">
        <i class="icon ion-person  placeholder-icon"></i>
        <input type="text" placeholder="{{ 'Username' | translate }}" style="    padding-right: 10px;" ng-model="vm.username">
        </label>
        <label class="item item-input RightDirection">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="********"  style="    padding-right: 10px;" ng-model="vm.password">
        </label>
    </div>
    <a href="#" class="button button-block button-positive log_btn" ng-click="login()" >
     {{ 'Login' | translate }}
    </a>
    <div class="row">
     <div class="col">
        <a href="#/Preregister"  class="button button-block button-positive forget_btn">
           {{ 'NEW ACCOUNT' | translate }} 
        </a> 
     </div>
      <div class="col">
        <a href="#" class="button button-block button-positive new_acc" ng-click="logout()">
         {{ 'SIGNOUT' | translate }}  
        </a>
     </div>
    </div>
     <a ng-href="#/app/tabs/main" class="button button-block button-clear skip_btn">
      {{ 'Skip' | translate }} 
     </a>
    </form>
  </ion-content>
</ion-view>  
