<ion-view >
 
    <ion-content>
        
        
      <div class="card" style="margin:0px">
     
         
              <div class="item item-body RightDirection">
                 <div class="slider_home">
                      <ion-slide-box does-continue="true"  auto-play="true" class="slider_lang">
                    <ion-slide>
                      	<img class="full-image" src="img/logo_ALL.png">
                         <p >
                        
                         <h1 class="title"> {{ 'MSG_USR_0' | translate }} </h2>
                           <h2 class="title"> {{ 'MSG_USR_1' | translate }} </h2>
                            <h2 class="title"> {{ 'MSG_USR_2' | translate }} </h2>
                         
                              <h2 > <i style="    padding-right: 10px;;color:#f39032" class="icon-right ion-ios-arrow-back"></i> {{ 'MSG_USR_3' | translate }}    </h2>
                               <h2 > <i style="    padding-right: 10px;;color:#f39032" class="icon-right ion-ios-arrow-back"></i> {{ 'MSG_USR_4' | translate }}    </h2>
                                <h2 > <i style="    padding-right: 10px;;color:#f39032" class="icon-right ion-ios-arrow-back"></i> {{ 'MSG_USR_5' | translate }}    </h2>
                                 <h2 > <i style="    padding-right: 10px;;color:#f39032" class="icon-right ion-ios-arrow-back"></i> {{ 'MSG_USR_6' | translate }}    </h2>
                              </br>
                                <h2 class="title"> {{ 'MSG_USR_7' | translate }} </h2>
                             
                                                  
              

                   		 
						 
							 <h2 class="title"> {{ 'AboutUs2-1' | translate }} </h2>
							  {{ 'AboutUs3' | translate }} 
								<!--<h3>
								  <i class="icon ion-android-call padding"></i>
         {{ 'AboutUs4' | translate }} 
								</h3>-->
									<h3 ng-click="CallNumber()">
								  <i class="icon ion-android-call padding"></i>
									
         {{ 'AboutUs4-1' | translate }} 
								</h3>

									<!--<h3>
								  <i class="icon ion-email padding"></i>
         {{ 'AboutUs5' | translate }} 
								</h3>-->
								<a href="mailto:f.mumen@drwazaq8.com?subject=USER%20Registeration%20">
										<h3 >
								  <i class="icon ion-email padding"></i>
								 
         {{ 'AboutUs5-1' | translate }} 
								</h3>
								</a>
						 
</br>
 
</br>
</br>
 
                          </p>
                         
                    </ion-slide>

                     <!--<ion-slide>
                         <div class="padding" ng-bind-html="snippet"></div>
                     </ion-slide>-->

                </ion-slide-box>
                </div>
                   
                  
              </div>

            

		 </div>
		 
	 
	</div>
         
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark">
  <div class="buttons" ng-click="myGoBack()">
    <button class="button button button-clear button-light  " style="padding-left:8px;color:#ff7c00">{{ 'Cancel' | translate }}</button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" >
    <a  href="#/Preregister2"  class="button button button-clear button-light " style="padding-right:8px;color:#fff">{{ 'Proceed' | translate }}</a>
  </div>
</ion-footer-bar>
</ion-view  >