 
 
<ion-view cache-view="false"  class="properties" hide-back-button="true">
	<ion-nav-title>
	  {{ 'MyNotify' | translate }}
	</ion-nav-title>

	 <!--<ion-nav-buttons side="right">
		<button style="display:block"  class="button button-clear  button-icon ion-android-options" menu-toggle="right" ng-click="vm.showFilter()"></button>
	</ion-nav-buttons>
	 -->
 

	<ion-content ng-init="vm.search = ''">
		
		<ion-refresher  
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>
	
 
			
		  <meta name="format-detection" content="telephone=no"> 
		 <ion-list style="padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; margin: 0px;
    border: none; " class="item item-thumbnail-right item-text-wrap  " style="overflow: hidden;"
			ng-click="vm.navigate(notify.MessageID)"
			collection-repeat="notify in vm.notifies  | orderBy: '-' " >
		
			 
			 <div class="list" style="direction: rtl;    ">

				<a class="item item-avatar" href="#" style=" padding-right: 10px;"  ng-style= "notify.IsOpen === 0 ? {'background-color':'#ffb25c4a'} : {'background-color':'white'}"  >
				  <img src="img/logo2.png"  ng-style= "notify.IsOpen === 0 ? {'visibility':'visible'} : {'visibility':'hidden'}" >
				  <h2 style="padding-top:13px;">{{notify.Title | limitTo: 35 }}{{notify.Title.length > 35 ? '...' : ''}}</h2>
				  <p>{{notify.Desc | limitTo: 75 }}{{notify.Desc.length > 75 ? '...' : ''}}</p>
				</a>
			
			 
			
			</div>
		</ion-list> 
		 

	</ion-content>
</ion-view>
 
 