
<ion-view  cache-view="false"  view-title="{{vm.notify.Title | limitTo: 25 }}{{vm.Notify[0].Title.length > 25 ? '...' : ''}}" >
	<ion-content>
		
		 
	 

         
<div class="card">
  <div class="item item-text-wrap textRight padding RightDirection">
	 {{vm.notify.Title}}  
   <p>{{vm.notify.Desc}}  </p>
  </div>
</div>
         	
		 
		
		<br>
		<br> 
		<br>
	 
	</ion-content>
	 
 
   
</fab-button-right>
</ion-view>

	
