<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<div class="buttons col col-center" >
			<button
					class="button button-clear icon ion-checkmark"
					ng-click="vm.applyFilters()"
					style="color: #fff;"></button>
		</div>
		<h1 class="title RightDirectionPadding">{{ 'Sort&Filter' | translate }}</h1>
		
	</ion-header-bar>
	<ion-content>
		<div class="list">
		

			<ion-item class="item-divider RightDirectionPadding">{{ 'Filter' | translate }}</ion-item>
          
		 
	    	 <label class="item item-input item-select">
                <div class="input-label icon ion-android-globe">
                 
                </div>
                 <select ng-model="vm.selectedcountry" ng-change="vm.changeCountry(vm.selectedcountry)" name="selectedcountry" id="selectedcountry" >
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option> 
                        <option ng-repeat="x in vm.Country"  value="{{x.Country_ID}}">{{x.Country_Ar}}</option>
                 </select>    
            </label>



            <label class="item item-input item-select">

                <div class="input-label icon ion-ios-pricetags">
                
                </div>
              <select ng-model="vm.selectedService"  name="selectedService" id="selectedService"  ng-change="vm.changeService(vm.selectedcountry,vm.selectedService)"  required>
                <option value="" disabled selected hidden>{{ 'ChoiseService' | translate }} </option> 
                  <option value="1"  >{{ 'ServiceSale' | translate }}</option>
                     <option value="2"  >{{ 'ServiceRent' | translate }}</option>
                       <option value="3"  >{{ 'ServiceBarter' | translate }}</option>
                                              <!--     <option value="4"  >{{ 'ServiceRequest' | translate }}</option> -->
                  </select>               
                    
            </label>


			   <label class="item item-input item-select">
                <div class="input-label icon ion-android-locate">
                 
                </div>
                <select ng-model="vm.selectedCity" ng-change="vm.changeCity(vm.selectedCity)" name="selectedCity" id="selectedCity">
                            <option value="" disabled selected hidden>{{ 'ChoiseCity' | translate }} </option> 
                        <option ng-repeat="x in vm.City"  value="{{x.City_ID}}">{{x.City_Ar}}</option>
                 </select>    
            </label>

			 <label class="item item-input item-select">

                        <div class="input-label icon ion-compass">
                        
                        </div>
                      <select ng-model="vm.selectedRegion"  ng-change="vm.changeRegion(vm.selectedRegion)" name="selectedRegion" id="selectedRegion"   >
                            <option value="" disabled selected hidden>{{ 'ChoiseRegion' | translate }} </option> 
                        <option ng-repeat="x in vm.Region"  value="{{x.Region_ID}}">{{x.Region_Ar}}</option>
                 </select>               
                            
            </label>  

			<ion-item class="item-divider RightDirectionPadding">{{ 'FilterType' | translate }}</ion-item>
			   <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-home">
                        
                        </div>
                      <!--<select ng-model="vm.selectedTypeProperty" ng-change="vm.changeType(vm.selectedTypeProperty)"     >
                            <option value="" disabled selected hidden>{{ 'ChoiseType' | translate }} </option> 
                        <option ng-repeat="x in vm.Types "  value="{{x.Type_ID}}">{{x.Title_Ar}}</option>
                 </select>     -->

                    <select ng-model="vm.selectedTypeProperty" ng-options="x.Type_ID as x.Title_Ar for x in vm.Types" ng-change="vm.changeType(vm.selectedTypeProperty)" >
                            <option value="" disabled selected hidden>{{ 'ChoiseTypeReq' | translate }} </option>           
                       </select>          
            </label> 

              <ion-item ng-repeat="x in vm.Feature"  style="border-style: none;" >
                 

                     <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-information-outline">
                        
                        </div>
                                <select ng-model="selectedFeature" ng-change="vm.changeFeature(selectedFeature)"     >
                                        <option value="" disabled selected hidden>{{ x.Text }}  </option> 
                                    <option ng-repeat="y in x.Value" id="{{x.Ucs_Id}}"  value="{{ x.Ucs_Id + ';' +y.Val}}">{{y.ValText}}</option>
                                </select>               
                                        
                      </label> 

                 
                </ion-item>


                <ion-item class="item-divider RightDirectionPadding"> {{ 'Sortby' | translate }}  </ion-item>
                <ion-radio    name="sortBy" ng-model="vm.sortBy" ng-value="'Date'">  {{ 'Date' | translate }} </ion-radio>
                <!-- <ion-radio   name="sortBy" ng-model="vm.sortBy" ng-value="'LPrice'">{{ 'LPrice' | translate }}</ion-radio>
                <ion-radio   name="sortBy" ng-model="vm.sortBy" ng-value="'HPrice'">{{ 'HPrice' | translate }}</ion-radio> -->


		</div>
			
	</ion-content>
</ion-modal-view>
