<ion-view>
  <ion-nav-title>
    {{ "mainPage" | translate }}
  </ion-nav-title>
  <ion-content class="news_list">
    <div class="slider_home">
      <ion-slide-box
        class="slider_lang"
        ng-if="vm.statusad === true"
        delegate-handle="IOBOX"
      >
        <ion-slide
          ng-repeat="x in vm.slider | filter: {valid_ad: true} | orderBy: 'skip_time'"
        >
          <div class="news_img">
            <!-- <img src="img/slider1.png" /> -->
            <a href="#" ng-click="open_link(x.link)">
              <img
                src="data:image/png;base64,{{ x.image }}"
                style="width: 100%"
              />
            </a>
          </div>
        </ion-slide>

        <!-- <ion-slide>
             
            <div class="news_img">
                <img src="img/slider1.png"/>
                    
            </div>
        </ion-slide>
        <ion-slide>
            
              
             <div class="news_img">
                <img src="img/slider2.png"/>
                  
            </div>
           
        </ion-slide>
        <ion-slide>
         
             <div class="news_img">
                <img src="img/slider3.png"/>
                    
            </div>
           
        </ion-slide> -->
      </ion-slide-box>
    </div>

    <div class="list animate-fade-slide-in-right">
      <!--<a href="#/app/articles"  class="item"> 
        
       
      
      <div class="row">
       
        
         
        
         <img src= "img/{{ 'project' | translate }}" class="home-list" >
      
      </div>
     
    </a>
    -->

      <!-- <a href="#/app/tabs/gallary/1"  class="item">  -->
      <!-- <a href="{{variable == value ? '#link1' : '#link2'}}">Link</a> -->
      <!-- {{vm.IsRegister == 1 ? '#/app/tabs/gallary/2' : '#/app/tabs/AddBo3qar/'}} -->
      <a href="#" ng-click="vm.navigateHome()" class="item">
        <div class="row">
          <!-- ng-style= "vm.Count === 0 ? {'visibility':'hidden'} : {'visibility':'visible'}" -->

          <img src="img/{{ 'bo3qar' | translate }}" class="home-list" />
          <span
            style="right:60px;"
            ng-style="vm.Count === 0 ? {'visibility':'hidden'} : {'visibility':'visible'}"
            class="badge badge-assertive"
            >{{ vm.Count }}</span
          >
        </div>
      </a>

      <a href="#/app/tabs/gallary/1" class="item">
        <div class="row">
          <img src="img/{{ 'sale' | translate }}" class="home-list" />
        </div>
      </a>

      <a href="#/app/tabs/gallary/2" class="item">
        <div class="row">
          <img src="img/{{ 'rent' | translate }}" class="home-list" />
        </div>
      </a>

      <!-- <a href="#/app/tabs/gallary/4"  class="item"> 
      
      <div class="row">
       
      
         
        
         <img src= "img/{{ 'reqest' | translate }}" class="home-list" >
        
      </div>
     
    </a>
     -->

      <a href="#/app/tabs/gallary/3" class="item">
        <div class="row">
          <img src="img/{{ 'barter' | translate }}" class="home-list" />
        </div>
      </a>
    </div>

    <!-- <walkthrough
		    id="accounts_view_walkthrough"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showAccountsWalkthrough" 
		    is-bind-click-event-to-body="true"
		    on-walkthrough-hide="vm.nextAccountsWalkthrough()"
		    is-round="false">
			 <img src="{{ accountsWalkthrough.steps[accountsWalkthrough.currentIndex].text }}" alt="img/3.jpg" onError="this.src='img/3.jpg';" style="height: 100vh; width: 100%;">
    </walkthrough>
    
    <walkthrough
		    id="bo3qar_view_walkthrough"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showBo3qarWalkthrough" 
		    is-bind-click-event-to-body="true"
		    on-walkthrough-hide="vm.nextAccountsWalkthrough2()"
		    is-round="false">
			 <img src="{{ accountsWalkthrough2.steps[accountsWalkthrough2.currentIndex].text }}" alt="img/Request.png" onError="this.src='img/Request.png';" style="height: 100vh; width: 100%;">
    </walkthrough> -->
    <!-- <script id="modal.html" type="text/ng-template">

      <div class="modal">

        <ion-content has-header="true" padding="true" class="modal-ad">

          <a href="#" ng-click="open_link(vm.adlink)">
            <img width="100%" src="{{vm.popupad}}" class="add-image" />
          </a>
          <a href="#" ng-click="close_add()" class="skip-ad">{{vm.skip_count}}</a>

        </ion-content>
      </div>
    </script> -->
  </ion-content>
</ion-view>
