<ion-view
  view-title="{{ vm.article[0].Title | limitTo: 25 }}{{
    vm.article[0].Title.length > 25 ? '...' : ''
  }}"
>
  <ion-content>
    <div class="slider_home" ng-click="openModal()">
      <ion-slide-box
        does-continue="true"
        auto-play="true"
        class="slider_lang"
        slide-interval="2000"
      >
        <ion-slide ng-repeat="picture in vm.article[0].Images">
          <div class="news_img">
            <img src="{{ picture }}" />
            <div class="det_header">
              <!--<h3>KWTRG.com</h3>-->
              <p>KWTRG.COM All RIGHTS RESERVED</p>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <!--<div class="button-bar">
                      <a class="button" ng-click="openModal()">Show images from start</a>
                  </div>-->

    <div class="list card">
      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-pound"></i>

        {{ vm.article[0].Item_ID }}
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-android-globe"></i>
        {{ vm.article[0].Country }}
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-android-locate"></i>
        {{ vm.article[0].City }} - {{ vm.article[0].Region }}
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon  ion-map  "></i>
        <p class="RightDirection">
          {{ vm.article[0].Area }} {{ vm.article[0].Measure }}
        </p>
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon  ion-cash "></i>
        <p class="RightDirection">
          {{ vm.article[0].Price }} {{ vm.article[0].Currency }}
        </p>
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-android-person"></i>
        {{ vm.article[0].CompanyName }}
      </a>
      <!--onclick="window.open('tel:'+ String(document.getElementsByClassName('zeby')[0].innerHTML).replace(/ /g,'') , '_system', 'location=yes')"-->
      <a ng-click="CallNumber( )" class="Ditem Ditem-icon-right">
        <i class="icon ion-ios-telephone-outline"></i>

        {{ vm.article[0].Phone }}
      </a>

      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-ios-clock-outline"></i>
        {{ vm.article[0].CreatedDate }}
      </a>

      <!--<a class="Ditem Ditem-icon-right" ng-click="vm.toggleFavorites()">
				<span ng-if="!vm.property.isInFavorites">
					<i class="icon ion-ios-star-outline"></i>
					<span>Add to favorites</span>
				</span>
				<span ng-if="vm.property.isInFavorites">
					<i class="icon ion-ios-star balanced"></i>
					<span>Remove from favorites</span>
				</span>
			</a>-->
    </div>
    <div
      class="list card RightDirection"
      ng-repeat="feature in vm.article[0].Feature"
    >
      <a class="Ditem Ditem-icon-right">
        <i class="icon ion-ios-information-outline"></i>
        {{ feature.Title }} : {{ feature.Value }}
      </a>
    </div>

    <div class="card">
      <div class="item item-text-wrap textRight padding RightDirection">
        {{ vm.article[0].Title }}
        <p>{{ vm.article[0].Body }}</p>
      </div>
    </div>

    <br />
    <br />
    <br />
  </ion-content>

  <!--onclick= "window.open('tel:'+ String(document.getElementsByClassName('zeby')[0].innerHTML).replace(/ /g,'') , '_system', 'location=yes')" -->

  <fab-button-left target-id="content" ng-click="CallNumber()">
    <a class="zeby" style="display:none">
      {{ vm.article[0].Phone }}
    </a>
    <i class="icon ion ion-android-call" style="vertical-align: middle; "></i>
  </fab-button-left>

  <fab-button-right
    target-id="content2"
    ng-click="OtherShare()"
    style="background-color: rgb(63, 181, 84);"
  >
    <i
      class="icon  ion-social-whatsapp-outline"
      style="vertical-align: middle; "
    ></i>
    <!-- <i class="fab fa-whatsapp" aria-hidden="true"></i> -->
  </fab-button-right>

  <script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent"
         ng-click="closeModal()">
      <ion-slide-box on-slide-changed="slideChanged(index)"
                     show-pager="false">
        <ion-slide ng-repeat="oImage in vm.article[0].Images">
          <img ng-src="{{oImage}}" class="fullscreen-image" />
          <!--<p class="info">{{oImage.msg}}</p>-->
        </ion-slide>
      </ion-slide-box>
    </div>
  </script>
</ion-view>

<!-- <walkthrough
		    id="accounts_view_walkthrough2"
		    walkthrough-type="transparency"
		    force-caption-location="BOTTOM"
		    is-active="vm.showAccountsWalkthrough" 
		    is-bind-click-event-to-body="true"
		    
		    is-round="false">
			 <img src="img/callus.png" alt="xx" onError="this.src='img/callus.png';" style="height: 100vh; width: 100%;">
		</walkthrough> -->
