<ion-view  cache-view="false"  hide-back-button="true">
    
 <ion-nav-title>
		 {{ 'AddItem' | translate }}
	</ion-nav-title>
     
       
    <ion-content class="AddItem_Page">
        <form name="myForm"  novalidate >
             <!--<div class="row">
            <button class="button button-block button-dark icon-left ion-camera col col-50" ng-click="takePhoto()">
           {{ 'Camera' | translate }}
            </button>

              <button class="button button-block button-dark icon-left ion-images col col-50" ng-click="selImages()">
            {{ 'Import' | translate }}
            </button>
       </div>-->


       
           <!-- First Image -->
            
             <label class="item item-input"  ng-click="show(4000)">
                     <i class="input-label icon ion-image  col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[0].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_0  ng-show="ShowPathy[0].value"   style="width:100%"    ng-src="{{ImagePathy[0].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_0" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_0" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[0].value"  class="col col-30" type="text" ng-model="FirstImage"  name="FirstImage" id="FirstImage" ng-model="FirstImage"  style="background: none;color: #333;"  readonly >
    
           
         
		 
         </label>
         <!-- End Of First Image -->


           <!--  Secound -->
            
             <label class="item item-input " ng-click="showSc(4000)">
                     <i class="input-label icon ion-image  col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[1].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_1  ng-show="ShowPathy[1].value"   style="width:100%"    ng-src="{{ImagePathy[1].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_1" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_1" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
             <input ng-required="!ShowPathy[1].value"  class="col col-30" type="text"   name="SecondImage" id="SecondImage" ng-model="SecondImage"  style="    background: none;color: #333;"  readonly >
           
         
		 
         </label>
         <!-- End Of Secound -->

          
                   <!--  Third Image -->
            
             <label class="item item-input " ng-click="showTh(4000)">
                     <i class="input-label icon ion-image  col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[2].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_2  ng-show="ShowPathy[2].value"   style="width:100%"    ng-src="{{ImagePathy[2].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_2" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_2" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[2].value"  class="col col-40" type="text"  name="ThirdImage" id="ThirdImage" ng-model="ThirdImage"  style="    background: none;color: #333;"  readonly >
           
         
		 
         </label>
         <!-- End Of third Image -->



                  <!--  Fourth Image -->
            
             <label class="item item-input " ng-click="showFu(4000)">
                     <i class="input-label icon ion-image  col col-10"></i>       
                          <div   id="container_main"  class="col col-50" >
                            <a href="" class="button button-stable" ng-show="!ShowPathy[3].value">
                              <i class="icon  ion-plus-circled"></i>
                               {{ 'UPLOADIMAGE' | translate }}
                              </a>
                              <div class="container"> 
                                 <img class="clz_blur" id=I_3  ng-show="ShowPathy[3].value"   style="width:100%"    ng-src="{{ImagePathy[3].value}}" alt="Image not found" onError="this.src='img/slider2.png';" >  
                                 <svg  class="load-svg" viewbox="0 0 250 250" >
                                   <path class="border" id="b_3" transform="translate(125, 125)"/>
                                   <path class="loader" id="l_3" transform="translate(125, 125) scale(.84)"/>
                                 </svg>
                              </div>
                          </div>
            <input ng-required="!ShowPathy[3].value"  class="col col-30" type="text"  name="FourthImage" id="FourthImage" ng-model="FourthImage"  style="    background: none;color: #333;"  readonly >
           
         
		 
         </label>
         <!-- End Of Fourth -->

       <!--<div >
          <button class="button button-block button-dark icon-left ion-trash-a " ng-click="deleteImages()">
          Delete Images 
            </button> 
       </div>-->

         <!--<div id="container_main"></div>-->
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-pricetags">
                        
                        </div>
                      <select ng-model="selectedService"  name="selectedService" id="selectedService"  ng-change="changeService(selectedcountry,selectedService)"  required>
                        <option value="" disabled selected hidden>{{ 'ChoiseService' | translate }} </option> 
                          <option value="1"  >{{ 'ServiceSale' | translate }}</option>
                             <option value="2"  >{{ 'ServiceRent' | translate }}</option>
                                <option value="3"  >{{ 'ServiceBarter' | translate }}</option>
                                   <!-- <option value="4"  >{{ 'ServiceRequest' | translate }}</option> -->
                 </select>               
                            
            </label>

           <label class="item item-input item-select">
                <div class="input-label icon ion-android-globe">
                 
                </div>
                 <select ng-model="selectedcountry" ng-options="x.Country_ID as x.Country_Ar for x in vm.entries" ng-change="change(selectedcountry,selectedService)" name="selectedcountry" id="selectedcountry"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCountr' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.entries"  value="{{x.Country_ID}}">{{x.Country_Ar}}</option>-->
                 </select>    
            </label>
            <label class="item item-input item-select">
                <div class="input-label icon ion-android-locate">
                 
                </div>
                <select ng-model="selectedCity" ng-options="x.City_ID as x.City_Ar for x in vm.City"  ng-change="changeCity(selectedCity)" name="selectedCity" id="selectedCity"    required>
                            <option value="" disabled selected hidden>{{ 'ChoiseCity' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.City"  value="{{x.City_ID}}">{{x.City_Ar}}</option>-->
                 </select>    
            </label>

               
            <label class="item item-input item-select">

                        <div class="input-label icon ion-compass">
                        
                        </div>
                      <select ng-model="selectedRegion" ng-options="x.Region_ID as x.Region_Ar for x in vm.Region" name="selectedRegion" id="selectedRegion"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseRegion' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.Region"  value="{{x.Region_ID}}">{{x.Region_Ar}}</option>-->
                 </select>               
                            
            </label>  
            
            <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-home">
                        
                        </div>
                      <select ng-model="selectedType" ng-options="x.Type_ID as x.Title_Ar for x in vm.Types" ng-change="changeType(selectedType)"  name="selectedType" id="selectedType"   required>
                            <option value="" disabled selected hidden>{{ 'ChoiseType' | translate }} </option> 
                        <!--<option ng-repeat="x in vm.Types"  value="{{x.Type_ID}}">{{x.Title_Ar}}</option>-->
                 </select>               
                            
            </label> 

              <ion-item ng-repeat="x in vm.Feature"   >
                 

                     <label class="item item-input item-select">

                        <div class="input-label icon ion-ios-information-outline">
                        
                        </div>
                                <select ng-model="selectedFeature" ng-change="changeFeature(selectedFeature)"  name="selectedFeature" id="selectedFeature"   >
                                        <option value="" disabled selected hidden>{{ x.Text }}  </option> 
                                    <option ng-repeat="y in x.Value" id="{{x.Ucs_Id}}"  value="{{ x.Ucs_Id + ';' +y.Val}}">{{y.ValText}}</option>
                                </select>               
                                        
                      </label> 

                 
                </ion-item>
        

      
      <label class="item item-input">
        <i class=" col col-15 input-label icon ion-iphone  "></i>
          <select class="col col-25"  ng-model="NumCode" name="NumCode" id="NumCode" required>
          <option value="" disabled selected hidden>{{ 'NumCode' | translate }} </option> 
          <option value="+973">+973</option>
          <option value="+387">+387</option>   
          <option value="+20">+20</option>   
          <option value="+962">+962</option>   
          <option value="+965">+965</option> 
           <option value="+965">+966</option>   
          <option value="+968">+968</option>  
          <option value="+90">+90</option>   
          <option value="+971">+971</option>   

         </select>   
        <input class="col col-60" type="tel"   placeholder="{{ 'PHNumber' | translate }}" name="PHNumber" id="PHNumber" ng-model="PHNumber"  required pattern="[0-9]*">
       
        </label>

        <label class="item item-input">
        <i class="input-label icon ion-social-usd-outline   "></i>
        <input type="tel"   placeholder="{{ 'PHprice' | translate }}" name="PHprice" id="PHprice"   ng-model="PHprice" required pattern="[0-9]*">
        </label>

         <label class="item item-input">
        <i class="input-label icon ion-map  "></i>
        <input type="tel"   placeholder="{{ 'PHArea' | translate }}" name="PHArea" id="PHArea"  ng-model="PHArea"  required pattern="[0-9]*">
        </label>
        

       
      <label class="item item-input">
        <input type="text" placeholder="{{ 'AdsTitle' | translate }}"  name="AdsTitle" id="AdsTitle"  ng-model="AdsTitle"  required>
      </label>

       <label class="item item-input">
        <textarea class="padding" rows="7" placeholder="{{ 'AdsContent' | translate }}"  name="AdsContent" id="AdsContent" ng-model="AdsContent"  required></textarea>
      </label> 
      

        <div class="padding RightDirection" style="color:red ">
         
               <p ng-show="myForm.selectedcountry.$error.required">{{ 'ReqCountry' | translate }}</p>
                <p ng-show="myForm.selectedCity.$error.required">{{ 'ReqCity' | translate }}</p>
                <p ng-show="myForm.selectedRegion.$error.required">{{ 'ReqRegion' | translate }}</p>
                 <p ng-show="myForm.selectedService.$error.required">{{ 'ReqService' | translate }}</p>  
                 <p ng-show="myForm.selectedType.$error.required">{{ 'ReqType' | translate }}</p>
                 <p ng-show="myForm.PHNumber.$error.required">{{ 'ReqNumber' | translate }}</p>
                    <p ng-show="myForm.PHNumber.$error.pattern">{{ 'ReqNumberPattern' | translate }}</p> 
                    
                  <p ng-show="myForm.PHprice.$error.required">{{ 'Reqprice' | translate }}</p>
                   <p ng-show="myForm.PHprice.$error.pattern">{{ 'ReqNumberPatternPH' | translate }}</p>  
                 <p ng-show="myForm.AdsTitle.$error.required">{{ 'ReqAdsTitle' | translate }}</p>
                 <p ng-show="myForm.AdsContent.$error.required">{{ 'ReqAdsContent' | translate }}</p>
                <p ng-show="myForm.PHArea.$error.required">{{ 'ReqArea' | translate }}</p>   
                  <p ng-show="myForm.NumCode.$error.required">{{ 'NumCodeReq' | translate }}</p> 
                  
                      <p ng-show="myForm.PHArea.$error.pattern">{{ 'ReqNumberPatternPA' | translate }}</p>   
        </div>

         <div class="padding RightDirection" style="color:red ">
           {{vm.DayCalculator}}
         </div>
       
       <div class="padding">
            <button type="button" class="button button-block button-dark" ng-disabled="myForm.$invalid" 
            ng-click="submit(selectedService,selectedcountry,selectedType,selectedCity,selectedRegion,PHNumber,PHprice,PHArea,AdsTitle,AdsContent,NumCode)">{{ 'SubmitAds' | translate }}</button>
        </div>
    </form>
    </ion-content>
</ion-view  >