<ion-tabs class="tabs-light tabs-icon-top">
	<ion-tab title="For rent" icon-on="ion-card" icon-off="ion-card" href="#/app/properties/rent">
		<ion-nav-view name="tab-rent"></ion-nav-view>
	</ion-tab>
	<ion-tab title="For sale" icon-on="ion-bag" icon-off="ion-bag" href="#/app/properties/sale">
		<ion-nav-view name="tab-sale"></ion-nav-view>
	</ion-tab>
	<a class="tab-item" href="#/app/main">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</ion-tabs>
