/*login*/

.login_page {
  background: url(../img/bg2.png)no-repeat;
  background-size: 100% 100%
}

.login_page .item-input input {
  color: #fff;
}

.logo {
  position: absolute;
  top: -77px;
  right: 0;
  left: 0;
  text-align: center;
}

.logo img {
  width: 350px;
}

.login_page .scroll {
  height: 100%;
}

.login_page form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #343434;
  padding: 20px 20px;
  padding-top: 35px;
}

.log_form .item {
  background: transparent;
  margin: 0;
  border: none;
  padding: 10px 0
}

.log_form .list-inset {
  background: transparent;
  padding: 0;
  margin: 0
}

.log_form .list-inset .item:last-child {
  margin-bottom: 0;
}

.log_form .list-inset .item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.log_form .list-inset .item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #e4e5e7;
}

.log_form .row {
  padding: 0
}

.log_form .col {
  padding: 0
}

.log_form .button.button-positive {
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
  line-height: 44px;
}

.log_form .button.button-positive.log_btn {
  min-height: 55px;
  background: #fff;
  color: #f65902;
  font-size: 16px;
  line-height: 50px;
}

.log_form .button.button-positive.forget_btn {
  background: transparent
}

.log_form .button.button-positive.new_acc {
  background: #f65902;
  padding: 0
}

.log_form .button.button-positive.back_btn {
  background: #f65902;
  font-size: 16px;
}

.log_form input::-webkit-input-placeholder {
  color: #fff;
}

.log_form input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.log_form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.log_form input:-ms-input-placeholder {
  color: #fff;
}

.log_form .placeholder-icon {
  color: #fff;
  margin: 0 10px;
}

.skip_btn.button-clear.button-clear {
  margin: 0;
  min-height: 20px;
  line-height: 27px;
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
}

/*popup-forgetpassword*/
.popup-head {
  padding: 10px;
  border: none;
  background: #f65902;
}

.popup-title {
  color: #fff
}

.popup-buttons .button.button-positive {
  border: none;
  box-shadow: none;
  background: #f65902;
  color: #fff;
  border-radius: 0;
  line-height: 30px;
  height: 37px;
  min-height: 37px;
  font-size: 14px;
}

.popup-buttons {
  min-height: 57px;
}

.popup-buttons .button.button-positive:last-child {
  background: #343434;
  font-size: 14px;
}

.popup-buttons .button.button-positive b {
  font-weight: normal
}

/*register*/
.register_page .logo {
  position: static;
  padding-top: 50px;
}

.register_page {
  background: #343434;
}

.register_page .log_form .item {
  border-bottom: 1px solid #fff;
}

.register_page .log_form .button.button-positive.log_btn {
  min-height: 47px;
  line-height: 44px;
}

.register_page .logo img {
  margin-bottom: 45px;
}

/*header*/
.bar.bar-stable {
  border: none;
  height: 65px;
  background: url(../img/header.png)no-repeat;
  background-size: 100% 100%;
  padding: 0
}

.bar.bar-stable .title {
  color: #fff;
  text-align: center !important;
  font-weight: normal;
  height: 65px;
  line-height: 61px;
  margin: 0;
  font-size: 15px;
  direction: rtl;
}

.bar-stable .button.button-icon {
  width: 45px;
  min-height: 64px;
  color: #fff
}

.bar .title+.buttons {
  top: 0;
  right: 0;
  bottom: 0;
}

.has-header {
  top: 65px;
}

.bar-stable .button.button-icon i {
  font-size: 20px;
}

.bar-stable .button.button-icon.back_arr {
  position: absolute;
  right: 0;
  top: 0;
  width: 33px;
}

/*contact_us*/
.contact_us {
  padding: 20px
}

.contact_btn.button.button-positive {
  background: #464646;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-top: 25px;
}

.contact_us p {
  color: #696969;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.contact_us h3 {
  color: #464646;
  margin: 0;
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: normal;
  margin-top: 10px
}

.contact_us .list-inset {
  margin: 0
}

.contact_us .item-input {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 8px;
}

.contact_us input::-webkit-input-placeholder {
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us input:-ms-input-placeholder {
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us textarea::-webkit-input-placeholder {
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us textarea:-moz-placeholder {
  /* Firefox 18- */
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: lighter;
  color: #8e8d8d;
}

.contact_us textarea:-ms-input-placeholder {
  font-weight: lighter;
  color: #8e8d8d;
}

/*detail*/
.det_img {
  height: 200px;
}

.det_img img {
  width: 100%;
  height: 200px;
}

.det_header {
  padding: 20px;
  border-bottom: 1px solid #d1d1d1
}

.det_header h3 {
  font-size: 15px;
  color: #f65902;
  margin-bottom: 15px;
}

.det_header h3>span {
  font-weight: normal
}

.det_header span {
  color: #878787;
  padding-left: 15px;
}

.det_header p {
  font-size: 16px;
}

.det_header .by {
  color: #adadad;
  padding: 0;
  display: block;
  margin-bottom: 5px;
  font-size: 16px
}

.det_header .last_update {
  color: #f65902;
  padding: 0;
  font-size: 14px
}

.det_content {
  padding: 20px;
}

.det_content p {
  font-size: 15px;
  margin-bottom: 10px;
  margin-bottom: 25px;
}

.det_content .note {
  font-weight: bold;
}

.new_head.bar-subheader {
  top: 65px;
  padding: 0
}

.detail_page.has-header {
  top: 109px;
}

.new_head .row {
  padding: 0;
  height: 44px;
}

.new_head .col {
  padding: 0;
  text-align: center;
  line-height: 45px;
}

.new_head .col i {
  font-size: 21px
}

.color_icon i {
  color: #f65902
}

.new_head .col p {
  margin: 0
}

.social_cir {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: inline-block;
  text-align: center;
  background: #ccc;
  padding: 5px;
}

.social_media.row {
  width: 70%;
  padding: 0
}

.social_cir i {
  font-size: 23px;
  color: #fff
}

.social_media :nth-child(1).col .social_cir {
  background: #76c155
}

.social_media :nth-child(2).col .social_cir {
  background: #3b5998
}

.social_media :nth-child(3).col .social_cir {
  background: #00abec
}

.social_media :nth-child(4).col .social_cir {
  background: #ca1f27
}

.new_head .col.color_btn i {
  color: #f65902
}

.new_head .col.color_btn:nth-child(2) i {
  color: #666
}

.new_head .col.color_btn:nth-child(4) i {
  color: #026ed3
}

/*news*/
.slider_home button {
  position: absolute;
  top: 36%;
  z-index: 1000;
}

.slider_home .prev_btn {
  right: 0;
}

.slider_home .button img {
  width: 30px;
  height: 30px;
}

.slider-pager .slider-pager-page {
  color: #fff;
  opacity: 1;
  width: 13px;
}

.slider-pager .slider-pager-page i {
  font-size: 9px;
}

.slider-pager .slider-pager-page.active {
  color: #f65902
}

.slider-pager {
  bottom: 7px;
}

.news_img img {
  width: 100%;
  height: 220px;
}

.news_img {
  height: 220px;
  position: relative
}

.news_img .det_header {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 10px 20px;
  background: rgba(0, 0, 0, .4);
}

.news_img .det_header span {
  color: #fff;
  font-size: 18px;
}

.news_img .det_header h3 {
  margin-bottom: 5px;
  font-weight: bold
}

.news_img .det_header p {
  font-size: 18px;
  color: #fff;
  font-weight: lighter;
  line-height: 17px;
  height: 36px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.day {
  padding: 0 10px;
  color: #999;
}

.day>span {
  color: #f65902;
  padding: 0 15px;
}

.list_docum .col-33 img {
  width: 100%;
  height: 90px;
}

.list_docum {
  text-decoration: none;
  border-bottom: 1px solid #ddd
}

.list_docum p {
  margin-bottom: 3px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  height: 52px;
  overflow: hidden;
}

.list_docum span {
  color: #999
}

.main_txt {
  color: #2d2d2d;
  font-weight: bold;
  display: inline-block;
  padding-right: 30px;
  margin: 20px 10px 0 10px;
}

/*menu*/
.doc_menu .item {
  background: transparent;
  border: none;
}

.doc_menu .item-complex .item-content {
  background: transparent;
  border: none;
  padding: 11px;
  padding-left: 50px;
  color: #aeaeae;
  font-size: 14px;
  font-weight: ligther;
  padding-left: 60px;
}

.menu .scroll-content {
  background: #343434
}

.doc_menu .item-icon-left .icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: #aeaeae;
  margin-left: 13px;
}

.doc_menu .item-complex.spec_item .item-content {
  color: #aeaeae;
  font-size: 15px;
  background: #1e1e1e;
}

.menu_head.bar.bar-stable {
  height: 100px;
  background: #343434
}

.menu .scroll-content {
  top: 100px;
}

.menu_head h3 {
  margin: 0;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
}

.menu_head p {
  color: #f65902;
  font-weight: 500
}

.doc_menu .badge span {
  background: #f65902;
  color: #fff;
  padding: 1px 5px;
  font-weight: normal;
  margin-right: 7px;
}

.doc_menu .item .badge {
  font-weight: normal;
  top: 9px;
  color: #aeaeae
}

.img_pro img {
  width: 100%;
  height: 50px;
}

.img_pro {
  /*border:1px solid #f65902;*/
  padding: 4px;
  height: 60px;
  margin-top: 10px;
}

/*IOS platform*/
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
  margin-top: 0 !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header.menu_head:not(.bar-subheader) {
  height: 100px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.doc_menu,
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader.menu_head {
  top: 100px !important;
}

/*LANG*/
.lang_img img {
  width: 100%;
  height: 80px;
}

.lang_img {
  height: 80px;
  position: relative
}


.home-list {

  background-size: contain;
  height: 75px;
  width: 100%;
  background-position: center center;
}



/*
 * Properties screen
 */
.properties .distance {
  font-size: 12px;
  text-align: right;
}

.properties .price {
  text-align: right;
}

/* wide-as-needed */
.properties .categories-filter {
  overflow: scroll;
  white-space: nowrap;
}

.properties .filter-button {
  padding: 5px;
  border: 0px;
}

.properties .filter-button.active-filter-button {
  font-style: italic;
  font-weight: 700;
}

/* Motion: Slide In Right
==================================*/
.animate-fade-slide-in-right .item,
.animate-fade-slide-in-right .item {
  visibility: hidden;
}

.animate-fade-slide-in-right .item,
.animate-fade-slide-in-right .item {
  -ms-transform: scale3d(0.8, 0, 1);
  -webkit-transform: scale3d(0.8, 0, 1);
  transform: scale3d(0.8, 0, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.animate-fade-slide-in-right .item-bg-image>img.background,
.animate-fade-slide-in-right .item-bg-image>img.background {
  box-shadow: none;
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done>*,
.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done>* {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done .item,
.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done .item {
  visibility: visible;
}

.animate-fade-slide-in-right .item,
.animate-fade-slide-in-right .item {
  visibility: hidden;
}

.animate-fade-slide-in-right .item,
.animate-fade-slide-in-right .item {
  -ms-transform: translate3d(250px, 250px, 0);
  -webkit-transform: translate3d(250px, 250px, 0);
  transform: translate3d(250px, 250px, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  filter: alpha(opacity=0);
}

.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done,
.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done {
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
}

.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done,
.animate-fade-slide-in-right .in,
.animate-fade-slide-in-right.done {
  visibility: visible;
}

.animate-fade-slide-in-right.done .in,
.animate-fade-slide-in-right.done .in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.animate-fade-slide-in-right .has-mask-reverse:after,
.animate-fade-slide-in-right .has-mask-reverse:after {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.animate-fade-slide-in-right.done .has-mask-reverse:after,
.animate-fade-slide-in-right.done .has-mask-reverse:after {
  opacity: 1;
  filter: alpha(opacity=100);
}

.animate-fade-slide-in-right .out,
.animate-fade-slide-in-right .out {
  -ms-transform: scale3d(0, 0, 1);
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
}

.home-hello {
  position: relative;
}

.home-hello img {
  max-width: 100%;
}

.home-hello .item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  padding-bottom: 40px;
}

.card.col {
  padding: 0;
}

.card.col.home h1 {
  text-align: center;
}

.card.col.home h2 {
  text-align: center;
}

/*Item Details Page*/

.card .Ditem:first-child,
.list-inset .Ditem:first-child,
.padding>.list .Ditem:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card .Ditem:first-child {
  border-top: 0;
}


.card .Ditem,
.list-inset .Ditem,
.padding>.list .Ditemitem,
.padding-horizontal>.list .Ditem {
  margin-right: 0;
  margin-left: 0;
}

.card .Ditem {
  border-left: 0;
  border-right: 0;
}


a.Ditem {
  color: #6d6d6d;
  text-decoration: none;
  padding-right: 55px;
  text-align: right;
}


.Ditem-icon-left {
  padding-left: 54px;
}


.Ditem,
.Ditem h1,
.Ditem h2,
.Ditem h3,
.Ditem h4,
.Ditem h5,
.Ditem h6,
.Ditem p,
.Ditem-content,
.Ditem-content h1,
.Ditem-content h2,
.Ditem-content h3,
.Ditem-content h4,
.Ditem-content h5,
.Ditem-content h6,
.Ditem-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.Ditem {
  border-color: #ddd;
  background-color: #ffffff;
  color: #6d6d6d;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.Ditem-icon-right .icon {
  right: 13px;
}

.Ditem -icon-left .icon,
.Ditem-icon-right .icon {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 32px;
}


/*End Of Item Details*/

.textRight {
  text-align: right;
}

.iconRight {
  right: 30xp;
}


.item p {

  font-size: 13px;

}

.RightDirection {
  direction: rtl;

}

.RightDirectionPadding {
  direction: rtl;
  padding-right: 10px;
}


.AddItem_Page .scroll {
  height: 100%;
}



svg {

  height: 20%px;
  width: 20%;
  z-index: 1;


}

.loader {
  fill: #fff;
  fill-opacity: 0.3;
  z-index: 100;
}

.border {
  fill: #000;
  fill-opacity: 0.3;
  z-index: 100;
}


.clz_blur {
  /* level of bluring can be adjusted here */
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/*img{
   padding-bottom:10px;
}*/




.container {
  position: relative;
}

.load-svg {
  position: absolute;
  left: 40%;
  top: 30%;
  padding: 5px;
}



/*.centered-spinner {
 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -40px;
}
 */
.spinner2 svg {
  width: 40% !important;
  height: 85px !important;

}

/*ICON CUSTOME*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?uh9kfi');
  src: url('../fonts/icomoon.eot?uh9kfi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uh9kfi') format('truetype'),
    url('../fonts/icomoon.woff?uh9kfi') format('woff'),
    url('../fonts/icomoon.svg?uh9kfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maratg:before {
  content: "\e900";
}

.icon-marato:before {
  content: "\e907";
}

.icon-rafyahg:before {
  content: "\e908";
}

.icon-rafyaho:before {
  content: "\e913";
}

.icon-chalitg:before {
  content: "\e91e";
}

.icon-chalito:before {
  content: "\e927";
}

.icon-factoryg:before {
  content: "\e930";
}

.icon-factoryo:before {
  content: "\e931";
}

.icon-farmg:before {
  content: "\e932";
}

.icon-farmo:before {
  content: "\e937";
}

.icon-flatg:before {
  content: "\e93c";
}

.icon-flato:before {
  content: "\e942";
}

.icon-floorg:before {
  content: "\e948";
}

.icon-hadamg:before {
  content: "\e94e";
}

.icon-hadamo:before {
  content: "\e954";
}

.icon-homeg:before {
  content: "\e95a";
}

.icon-homeo:before {
  content: "\e95b";
}

.icon-investmentlandg:before {
  content: "\e95c";
}

.icon-investmentlando:before {
  content: "\e966";
}

.icon-landg:before {
  content: "\e970";
}

.icon-lando:before {
  content: "\e97b";
}

.icon-qfactoryg:before {
  content: "\e986";
}

.icon-qfactoryo:before {
  content: "\e98e";
}

.icon-shopg:before {
  content: "\e996";
}

.icon-shopo:before {
  content: "\e9a4";
}

.icon-storeg:before {
  content: "\e9b2";
}

.icon-storeo:before {
  content: "\e9c4";
}

.icon-tjarig:before {
  content: "\e9d6";
}

.icon-tjario:before {
  content: "\e9d7";
}

.icon-villag:before {
  content: "\e9d8";
}

.icon-villao:before {
  content: "\e9d9";
}

.icon-flooro:before {
  content: "\e901";
}

.icon-zoom:before {
  content: "\e9da";
}

/*FULLIMAG*/
.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }

  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/*ENDOFFULL*/

/**************************** 2018-11-27 ****************************/

/******* MODAL *******/
.modal-ad {
	background: #DE973F;
	padding: 10px;
}

.add-image {
	
  height: 90vh;
	width: 100%;
	margin: 0 auto;
}

a.skip-ad {
	text-decoration: none;
	color:#FFF;
	font-size: 32px;
	float: right;
	display: block;
	margin: 1vh 0;
}

div.broker-ad-col{
	padding: 10px;
}

.broker-ad{
	width: 100%;
	max-height: 150px;
}