<ion-view view-title="login">
  <ion-content class="login_page">
     
    <form class="log_form">
    <div class="logo">
       <img src="img/logo3.png"/>
    </div>
     
      <br>
     <br>
      
 
     <div class="row">
         <div class="col col-25 col-center"> 
                  
                       <button class="button button-icon" ng-click="ChangeLanguageSlide('ar')">
                          <img src="img/prev2.png"/>
                        </button>
          </div>
          <div class="col col-50"> 
                <div class="slider_home2">
                  <ion-slide-box delegate-handle="lang" auto-play="false" class="slider_lang"  show-pager="false" on-slide-changed="firstSlideChanged(index)">
                      <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/arabic.png"/>               
                            </div>
                        </ion-slide>
                        <ion-slide>          
                            <div class="lang_img">
                                  <img src="img/e.png"/>               
                              </div>               
                        </ion-slide>
                  </ion-slide-box>
                </div>
          </div>
            <div class="col col-25 col-center"> 
                    
                          <button  class="button button-icon prev_btn"  ng-click="ChangeLanguageSlide('en')">
                            <img src="img/nxt2.png"/>
                          </button>
           </div>
       </div>
       
       <br>
       
            <div class="row">
         <div class="col col-25 col-center"> 
                  
                       <button class="button button-icon" ng-click="ChangeCountrySlide('prev')" >
                          <img src="img/prev2.png"/>
                        </button>
          </div>
          <div class="col col-50"> 
                <div class="slider_home2">
                  <ion-slide-box  delegate-handle="CountrySlide" auto-play="false" class="slider_lang"  show-pager="false" on-slide-changed="slideChanged(index)">
                      <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/kwt.png"/>               
                            </div>
                        </ion-slide>
                        <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/uae.png"/>               
                            </div>
                        </ion-slide>
                         <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/egpyt.png"/>               
                            </div>
                        </ion-slide>
                         <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/qatar.png"/>               
                            </div>
                        </ion-slide>
                         <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/bahian.png"/>               
                            </div>
                        </ion-slide>
                         <ion-slide>                        
                            <div class="lang_img">
                                    <img src="img/oman.png"/>               
                            </div>
                        </ion-slide>
                        <ion-slide>          
                            <div class="lang_img">
                                  <img src="img/ksa.png"/>               
                              </div>               
                        </ion-slide>
                  </ion-slide-box>
                </div>
          </div>
            <div class="col col-25 col-center"> 
                    
                          <button  class="button button-icon prev_btn"  ng-click="ChangeCountrySlide('nxt')" >
                            <img src="img/nxt2.png"/>
                          </button>
           </div>
       </div>
      
      
    <div class="row">
     <div class="col">
        
     </div>
      <div class="col">
       
     </div>
    </div>
     <a href="#/app/tabs/main" class="button button-block button-clear  log_btn">
     {{ 'Continue' | translate }} 
     </a>
  
    </form>
    
  </ion-content>
</ion-view>  
